[2018-11-22 18:25] ankitsinghaniyaz opened #4 "Feature parity with react-testing-library"
I last used `react-testing-library` and just loved it so I'm trying use `vue-testing-library` now. I see that there are some features that are missing or not explained.

1. Not all `dom-testing-libarary` methods are exposed to the user like done for the react library [here](https://github.com/kentcdodds/react-testing-library/blob/master/src/index.js#L87).
2. Ability to [create a custom render](htt

[2018-11-25 09:44] dfcook commented on #4
Hi, I've just pushed an update that will address 1 and also updated to latest versions of the packages, I'm not sure whether 2 can be done within the context of vue-test-utils. If you want to take a look I'm more than happy to accept pull requests.

[2018-11-26 08:33] ankitsinghaniyaz opened #5 "Why use Simulate.click instead of fireEvent.click?"
I was wondering why are we using `Simulate.click` instead of using `fireEvent.click`?

[2018-11-26 10:07] ankitsinghaniyaz opened #6 "Vue router example not working as expected"
![image](https://user-images.githubusercontent.com/11331989/49007205-f4d53c00-f190-11e8-9a7a-45e396601192.png)

As we can see in the screenshot the `<router-view />` is not rendered. Instead, a comment block is rendered and the route component is not rendered.

The test just checks for the location so it passes but in actuality, the child elements are not rendered.

[2018-11-26 18:50] #6 closed

[2018-11-26 19:05] #4 closed

[2018-11-26 19:07] dfcook commented on #5
Good spot, I was never happy with Simulate, updated in latest commit.

As an aside, should investigate whether we can roll the call to wait into a wrapper around fireEvent to provide a more convenient handling of vue-test-utils asynchronous updates

[2018-11-26 19:07] #5 closed

[2018-12-03 10:38] ronaldborman opened #9 "Pull request #8 is not published"
When I install the latest version of vue-testing-library, it does not contain pull request #8 .

Strangely enough, the version is 0.10 although the repository says it's 0.9.

Also the Travis build is failing, stating that it cannot find @babel/runtime/helpers/interopRequireDefault when executing the tests.  If I remember correctly, this has something to do with the fact that the Babel helper funct

[2018-12-06 19:08] dfcook commented on #9
Sorry for that, just pushed 0.10.1 and fixed the failing Travis build

[2018-12-06 19:08] #9 closed

[2019-01-03 18:30] kentcdodds opened #14 "move docs to testing-library.com?"
Hey @dfcook! Would you be interested in moving your docs to https://testing-library.com/vue? (Similar to https://testing-library.com/react and https://testing-library.com/cypress)

The site source is here: https://github.com/alexkrolick/testing-library-docs

I think it'd be pretty trivial to move things over.

What do you think? cc @alexkrolick

[2019-01-03 18:40] alexkrolick commented on #14
Yep -it could resemble the pages for react or the shorter one-pagers for Cypress and the jest-dom/user-event ecosystem

[2019-01-04 21:07] dfcook commented on #14
Working on it

[2019-01-04 21:13] kentcdodds commented on #14
Awesome! Thanks @dfcook!

[2019-01-08 10:11] dfcook commented on #14
PR raised for adding the vue section:

https://github.com/alexkrolick/testing-library-docs/pull/14

[2019-01-18 18:47] #14 closed

[2019-02-26 13:19] amcsi opened #15 "How to set initial router route?"
I want to be able to change the current vue-router route by pushing a new path, but I don't seem to get access to the router with the `render()` function.

How am I supposed to change routes with this library?

EDIT: changed title from "How to change router route?"

[2019-03-06 09:42] dfcook commented on #15
Hi, if you look at the examples around routing the idea is that you find the link on the page and fire the click event on it.

Would this suit your use case?

[2019-03-08 10:40] amcsi commented on #15
@dfcook Oh, I do understand that's what x-testing-library is meant to do... Actually, let me change the question:

How can I set the initial router route?

Although according to this library I should be changing routes by clicking on the appropriate buttons, but I think I should be able to at least set the initial route, because it's a valid thing for a user to "land" on a certain page.

[2019-03-23 08:26] dfcook commented on #15
I was thinking there must be some way of configuring the routes but it appears there isn't, a limitation of vue-router, see this issue:

https://github.com/vuejs/vue-router/issues/866

The obvious way to get around this is to expose the created router in the object returned from render but I'm not sure if that's a bit leaky given the aims of the dom-testing-library.

Do you have any thoughts yours

[2019-03-23 10:26] amcsi commented on #15
@dfcook the way I imagined it is that in the `configurationCb`, a function would be exposed that would allow me to change the route only 1 time, and that too only for the duration of `configurationCb` (it would stop working afterward). That would ensure that I could only change the route initially, but not later.
...or maybe you could have the same thing, but as a "route" string needed to be passe

[2019-03-23 13:04] dfcook commented on #15
I've pushed 0.16.0 which adds the constructed store and router to the configuration callback, this allows a router to be pushed before the component is rendered.

See test added in https://github.com/dfcook/vue-testing-library/blob/master/tests/__tests__/vue-router.js

[2019-03-23 13:04] #15 closed

[2019-03-25 09:10] amcsi commented on #15
@dfcook thanks, that's great! But are you not worried that now one can have access to the router at any time by saving it to an outer variable from the init callback?

[2019-03-25 09:21] dfcook commented on #15
I suppose that's possible but I went for a middle path between dogmatism and pragmatism. This lets people control the initial setup then test against the DOM. If they want to start accessing the router directly then they're free to miss the point of such testing 😆

[2019-04-24 08:20] matt-sanders opened #16 "Simulating user input"
Hey guys

Firstly thanks heaps for the great library :)

Just wondering if there's currently a better way to update an input bound with `v-model` instead of using `updateState`? In [this example](https://github.com/dfcook/vue-testing-library/blob/master/tests/__tests__/form.js) it's mentioned that it's waiting on an issue with @vue/test-utils to be able to update v-model properly, but as far as I'

[2019-04-25 07:20] dfcook commented on #16
The solution is to do what vue-test-utils does inside setValue:

[code]

This would work currently but it takes 2 lines to do what react-testing-library does in 1.

A possible improvement would be to add a method to fireEvent (update?) that does both steps in 1 call?

[code]

Any thoughts?

[2019-04-25 18:49] matt-sanders commented on #16
Aaah I see, thanks Daniel, that works just fine!

Yea, adding an `update` method or something like that would be great. Two lines isn't the end of the world, as long as there's a reliable way to ensure that updates happen I think that's mostly what matters, but any improvements are always appreciated.

The only thing I think would need to be considered is that vue-test-utils has three methods, `se

[2019-04-25 19:16] kentcdodds opened #17 "Invitation to move to testing-library org"
It's up to you, but if you'd like, you're welcome to transfer this repository to the [testing-library organization on GitHub](https://github.com/testing-library). This will give your project more credibility as part of the testing-library family of projects with a unified mission of tools which help people avoid testing implementation details.

Again, totally up to you. I just want you to know we

[2019-04-26 07:55] #16 closed

[2019-04-26 07:56] dfcook commented on #17
Happy to do this, how do I proceed?

[2019-04-26 15:12] kentcdodds commented on #17
I've added you to the org. Accept that invitation here: https://github.com/testing-library then go to the settings of the vue-testing-library repository and click "Transfer"

Let me know when that's done and I'll get the repo added to the Vue team (of which you're a member). You should be able to manage the repo the same as you always have :)

[2019-04-26 20:22] dfcook commented on #17
Done and done.

[2019-04-26 20:22] #17 closed

[2019-05-08 15:08] horaciosystem opened #19 "this.$router is undefined"
# 🐞 bug report

### Description

Tests are failing when a component uses router instance to redirect.
The component does call a callback that makes a redirect programmatically.

[code]

## 🔥 Exception or Error
<pre><code>
TypeError: Cannot read property 'push' of undefined
</code></pre>

## 🌍  Your Environment

<pre><code>
    "jest": "^24.7.1",
    "jest-dom": "^3.1.4",
    "jest-mock-axios": "^3

[2019-05-10 20:22] dfcook commented on #19
Can you create a small sandbox test?

[2019-05-11 08:11] dfcook commented on #19
Added an example test that uses programmatic routing

[2019-05-11 08:11] #19 closed

[2019-05-13 16:10] afontcu opened #22 "Is there a better way of handling v-model?"
Hi! I know that #16 has been closed and that there's an answer to the original question, but I was wondering if there's any advance in the idea of a `fireEvent.update` method.

I guess it'd make sense to come up with a way of handling input data consistently, without depending on `v-model` being there... am I right? For that to happen, should the issue mentioned [here](https://github.com/testing-l

[2019-05-13 16:32] afontcu opened #24 "Simple Button isn't "idiomatic" Vue"
I just noticed that some tests, such as the [Simple Button](https://github.com/testing-library/vue-testing-library/blob/master/tests/__tests__/simple-button.js) one, are using a callback prop approach, which is widely used in React.

However, since Vue suggests emitting events instead of passing callback functions, would it make sense to update the example and show how to test for an event to be e

[2019-05-28 20:35] #24 closed

[2019-05-29 06:18] afontcu opened #27 "Provide a cleanup-after-each file?"
Hi! `react-testing-library` is providing a [cleanup-after-each](https://github.com/testing-library/react-testing-library/blob/master/cleanup-after-each.js) file that comes in handy to avoid repeating `afterEach(cleanup)` on every test file. They even load it using a setup file, so you load it once and forget about dirty DOM nodes once for all.

Would it make sense to port this feature to vue-testi

[2019-06-01 07:32] dfcook commented on #27
Would appreciate thoughts on the PR for this

[2019-06-01 12:07] afontcu commented on #27
Done! 🎉

[2019-06-01 12:07] #27 closed

[2019-06-01 12:07] dfcook commented on #27
Released in 1.0.1

[2019-06-01 14:57] afontcu opened #33 "Where should docs live?"
Hi! So, right now, there are two similar (but no exactly equal) versions of Vue Testing Library docs: in the `README` of this repo, and also in `https://testing-library.com/vue`.

Kent suggested [here](https://github.com/testing-library/testing-library-docs/pull/120) to keep the docs in the official website, and just point there from the repository README. How would you feel about that? Having a w

[2019-06-01 15:23] dfcook commented on #33
Wholeheartedly agree with Kent's suggestion. It would also need a PR against the docs to update the instructions now we've moved to scoped packages (+ maybe an example for cleanup-after-each?)

[2019-06-01 15:47] afontcu commented on #33
Great! (Official docs have already been updated to fix the naming 😄  [Source](https://github.com/testing-library/testing-library-docs/pull/125))

So I'll submit a PR to remove docs from `README` and point readers to the official site.

I've seen that React Testing Library, ReasonReact, and Native all have like sections with several pages:

<img width="216" alt="imatge" src="https://user-images.git

[2019-06-01 16:35] dfcook commented on #22
Finally got around to looking at this, PR raised.

Assuming this goes in, should updateState be removed?

[2019-06-01 16:36] dfcook commented on #33
It would, happy for you to create this if you have the inclination

[2019-06-01 16:57] afontcu commented on #33
Sure! I'll first update this repo README so we can close this up, and then think about a simple structure for docs in the official docs repo :)

[2019-06-01 17:28] alexkrolick commented on #33
Please do! The other wrapper libs are a great starting point for structure.

[2019-06-01 17:49] afontcu commented on #22
Makes sense! It is quite pointless now, isn't it? Its only purpose AFAIK was to make v-model work.

[2019-06-01 18:10] #33 closed

[2019-06-01 20:03] dfcook commented on #22
Fixed in #34

[2019-06-01 20:03] #22 closed

[2019-06-04 07:47] afontcu opened #40 "Roadmap?"
Hi! I was wondering if there's any kind of roadmap for VTL to work on.

Not (only) in terms of adding features (not sure the API surface should grow that much!), but also regarding the repo itself, and even "marketing".

I have some ideas I'd be willing to work on:

- Add Prettier to the repo.
- Run checks on every PR - Run tests, code coverage variations.
- Fix coveralls integration/badge.
- Add

[2019-06-05 12:54] dfcook commented on #40
Hi, I must admit that the basis for this project was simply some "What-if" thinking on my part when I saw Kent's work on RTL. I haven't had a roadmap in mind and, as I'm currently using React for work, am probably not the best person to guide the project forward on a more ambitious roadmap.

One of the things that I've always had in the back of my mind however is that it is built on top of vue-tes

[2019-06-05 17:50] afontcu opened #41 "Issues rendering functional components"
Given the following test:

[code]

Running tests output the following error:

<img width="710" alt="imatge" src="https://user-images.githubusercontent.com/9197791/58976982-02ffb700-87c9-11e9-99ca-99c6d8556a0a.png">

The error is obviously gone when removing the `functional: true` attribute.

---

However, creating a SFC component and setting the functional tag on `<template>` works:

[code]

Then,

[2019-06-05 18:11] afontcu commented on #40
No worries! I feel like working on the library, so I might be submitting more PRs 😄 Some things might require your intervention, thou (such as integrations). Hope I don't bother you too much!

Regarding rendering in an entirely different way, what would you like to change? Is there any limitation you encountered while working with vue-test-utils?

[2019-06-08 07:08] dfcook commented on #40
No limitation, it just feels like there's a dependency there that we shouldn't necessarily need.

[2019-06-08 07:09] dfcook commented on #41
I wonder if this would be resolved if we used standard Vue library for rendering rather than test utils?

[2019-06-08 07:27] afontcu commented on #41
I see. So are you suggesting VTL uses its own mount function instead of using test utils _at all_? (test utils `mount` [source](https://github.com/vuejs/vue-test-utils/blob/dev/packages/test-utils/src/mount.js)). I wonder what would be the downsides of that (i.e. features that are already baked in in test utils and that should then be mapped here in VTL).

I guess VTL could "just" create a wrapper

[2019-06-21 10:30] OgaBoss opened #44 "FireEvent not getting resolved"
I just installed the library
[code]

But when i do `import { render, fireEvent, cleanup } from '@testing-library/vue'
`  and use it my test
[code]

I get this
![Screen Shot 2019-06-21 at 11 27 13 AM](https://user-images.githubusercontent.com/16806901/59916663-b4ccf380-9417-11e9-8431-5430fcf3e8fc.png)

And even my IDE (webstorm) cannot resolve `fireEvent`

Please what am i doing wrong ?

[2019-06-21 10:40] afontcu commented on #44
Hi!

if you `console.log(fireEvent)`, do you see a list of available events to be fired?

I tried to replicate your example assuming a dummy `input` component, and tests passed (no errors on fireEvent whatsoever). Can you provide a reproduction environment (Codesandbox, git repo, whatever)?

Thanks!

[2019-06-21 10:54] OgaBoss commented on #44
When i console log i get this
[code]

[2019-06-21 10:56] afontcu commented on #44
Great then! `fireEvent` is properly imported and available.

It might have something to do with your use case. First thing I'd do is await for its result, `await fireEvent.click()`,  which is the default way to go in Vue Testing Library.

If that doesn't fix your issue, we might need a repro env to see what's going on in your `input` component.

Thx!

[2019-06-21 11:05] OgaBoss commented on #44
That did not solve it, could it be because i am trying to click on an `<i></i>` tag ?

[2019-06-21 11:13] afontcu commented on #44
Hm, you should be able to send a click event to a `<i>`. Can you share a trimmed down version of your component?

[2019-06-21 11:17] OgaBoss commented on #44
[code]

[code]

[2019-06-21 11:32] afontcu commented on #44
Okay I got it failing. If I replace `vue-tel-input` with a plain `<input type="phone" v-model="phone" placeholder="Enter a phone number" />` element, test passes. Actually, in the error logs there some references about it:

[code]

Have never used `vue-tel-input`, so I'm not sure about what's happening there. You could always mock the external dependency and work from there.

[2019-06-21 12:04] OgaBoss commented on #44
Thanks for your time @afontcu i really appreciate it.

[2019-06-21 17:48] gchenglevi opened #45 "Shallow Render?"
Most of the time when testing with `vue-test-utils` I would be using a shallow mount. Although I know you can manually stub the components out, the method I think is quite helpful. In addition to `render` Is it possible that perhaps a `shallowRender` or something equivalent can be exposed to be used?

[2019-06-21 17:55] afontcu commented on #45
Hi and thank you for your comment!

Vue Testing Library does not provide a shallow method on purpose. Following [Testing Library guiding principles](https://testing-library.com/docs/guiding-principles), we don't provide a shallow render as it is a path to provide false sense of security.

If you _really_ need to mock/stub a component, you can either use Jest's mocking feature or the `stubs` key pr

[2019-06-21 18:04] #45 closed

[2019-06-21 18:05] afontcu commented on #44
No problem! Let me know if you find a workaround to properly render vue-tel-input :)

[2019-06-21 18:05] #44 closed

[2019-06-21 18:24] #40 closed

[2019-06-21 19:13] gchenglevi opened #46 "Wrapper from vue-test-utils not exposed?"
Hi, I wanted to call something like `wrapper.isVueInstance()` like I would with `vue-test-utils`. Looks like this wouldn't be possible in this library? Thanks.

[2019-06-22 06:27] afontcu commented on #46
Hi! 👋 and thanks for your question.

Vue Testing Library tries to follow the [Testing Library Guiding Principle](https://testing-library.com/docs/guiding-principles). Since we are trying to focus on **rendering components instead of dealing with component instances**, it wouldn't make much sense to provide a tool that helps testing you the exact opposite - if a given wrapper is a Vue instance.

Th

[2019-06-23 01:05] gchenglevi commented on #46
Ah okay, so my use case is asserting that for my dumb component that an event is emitted on a certain click. Would you say it is good practice to mix tests importing `mount` from `vue-test-utils` and tests with this library in the same component test file?

[2019-06-23 16:26] afontcu commented on #46
Check out the [simple button test example](https://github.com/testing-library/vue-testing-library/blob/master/tests/__tests__/simple-button.js), because it looks quite similar to your use case:

1. render the component (I'd go with Vue Testing Library `render()`)
2. get the clickable element
3. fire a click event
4. assert the event was emitted

hope it helps!

[2019-06-24 17:24] gchenglevi commented on #46
Oh thanks! I missed the `emitted` method. However, if there would be other cases in the future where I wanted to use a method that isn't exposed, it sounds like it wouldn't be good practice to mix the two libraries.

[2019-06-25 05:18] afontcu commented on #46
VTL exposes a `render()` method that contains DOM Testing Library queries + some vue-test-utils methods too: https://testing-library.com/docs/vue-testing-library/api So, in theory, you _are_ mixing both libraris.

The idea is that by using VTL you get the tools to test your components far from implementation details, so if you feel the urge to use a non-exposed method, I believe you'll find an ava

[2019-06-25 05:18] #46 closed

[2019-06-25 09:58] brennj opened #47 "Cannot use vue-i18n plugin with current rendering API"
## The goal
I want to get i18n capabilities in my test using this library, with the popular community vue solution for i18n: `vue-i18n`.

## The issue
In order to make i18n possible using that package, it is currently not possible as far as I can tell. The idea would be that you could pass it to the `mountOptions` (i.e. second argument of `render` function), it will not work because it depends on

[2019-06-25 10:31] afontcu commented on #47
Hi, and thank you for filling in this issue!

In some of my projects I ended up mocking `$t` (as explained [here](https://lmiller1990.github.io/vue-testing-handbook/mocking-global-objects.html#example-with-vue-i18n)). Would that work for you?

I even use Lodash' `get` method to actually load the real translation strings:

[code]

[2019-06-25 10:39] brennj commented on #47
Mocking is definitely an option :) but I want to integrate it properly like I can with my i18n solution when using `@testing-library/react`

[2019-06-25 12:31] brennj commented on #47
Hi @afontcu I tried my hand at a PR for this, let me know if this would cause any consequences or if there's anything additional you think could be an issue?

[2019-06-28 08:19] brennj commented on #47
Thanks for the merge on this, super delighted. 🔥

[2019-06-28 08:19] #47 closed

[2019-06-28 11:39] afontcu commented on #47
Thank you for contributing!! 🎉

El 25 juny 2019, a les 14:31, John Brennan <notifications@github.com> va escriure:

[2019-06-29 18:02] afontcu opened #49 "Add additionalOptions test example"
Adding a test example for `additionalOptions` feature (#48 #47) would both (1) show how to use it and (2) increase code coverage.

I guess using `vue-i18n` as a example would be great.

[2019-06-30 17:41] afontcu opened #51 "Coveralls integration is broken"
I'mn assuming it has something to do with the relocation of the package under `testing-library` umbrella. Am I right @dfcook?

Is there anything I could do to fix it other than requesting coverall access to testing-library organization?

Thanks!

[2019-07-02 08:54] brennj opened #52 "Cannot access router/history for assertions in test."
## The goal

I want to be able to have access to my vue router instance post render so that I can keep track of where the current location is, so that I may do assertions about my router and ensure the current path is correct. I may also want to do manual triggers of URL changes after the component is mounted.

This could also be an extended idea for the `store`, so that I may check the internal s

[2019-07-08 02:52] makeupsomething opened #54 "Route not updating on fireEvent"
I am trying to test navigation in my app. It is a very simple setup but when I test fireEvent clicking the `<router-link>` the first component is still shown in the debug. I feel like I must be missing something simple here.
[code]

[code]

[code]

[2019-07-08 06:26] afontcu commented on #54
Hi! Thanks for filling in the issue.

I'm trying to reproduce your example, but I'm missing a few parts. Where are you using the `<router-view>` component to display the accessed route?
Could you provide a Codesandbox or similar?

Thank you! 🙌

[2019-07-08 06:42] makeupsomething commented on #54
This is what I was missing!
Sorry, I was rendering the `Welcome` component but the router view was in the `App` parent component.

This issue can be closed.

[2019-07-08 06:42] #54 closed

[2019-07-09 06:11] makeupsomething commented on #49
I can work on this as I actually implemented myself today. Not sure if I did it correctly or not though.

[code]

If theres a better way let me know and I can tidy this up and add to the tests

[2019-07-10 07:48] afontcu commented on #49
Hi! Thank you for taking this :)

Notice how, in your snippet, you are using an external Vue instance to register i18n, so you are not actually using the instance exposed by Vue Testing Library. Notice how, in issue https://github.com/testing-library/vue-testing-library/issues/47, the example suggests returnint `{ i18n }` from the callback function. This is the feature we added on #48.

Long story

[2019-07-10 07:55] makeupsomething commented on #49
Hi!

Yes, I was sure that I should not be importing the external Vue to create the i18n instance but could not figure out how to create it any other way. I had not seen #47 at the time but that is clearly the correct way to create it.

Il adjust things and create a PR over the weekend.

[2019-07-17 17:21] afontcu commented on #49
Closed in #58

[2019-07-17 17:21] #49 closed

[2019-07-18 09:09] kangelSL opened #60 "Npm installation error (VueJS/Typescript)"
Bug:

On a VueJS project, using the npm install command and basic import statement ( import { render, fireEvent, cleanup } from '@testing-library/vue']) raises an error:

- Could not find a declaration file '@testing-library/vue'

The error recommends installing @types/testing-library__vue. But attempting to install this provides another error message:

-  @types/testing-library__vue@latest is not

[2019-07-18 10:15] afontcu commented on #60
Hi! Vue Testing Library isn't providing types, so that's why you're getting the error (AFAIK).

I don't have much experience with TS, so I'd be really grateful if someone stepped in and helped us provide types for Vue Testing Library :)

[2019-07-19 18:53] afontcu opened #61 "Set Vue as a peerDependency?"
And same think with `vue-template-compiler` (required by vue-test-utils).

We should be using Vue's version provided by the project where VTL is running. Both libraries should be added as a `devDependency` too.

I guess that'd could be considered a breaking change..?

Any thoughts? Am I missing something? [RTL is doing the same thing](https://github.com/testing-library/react-testing-library/blob/m

[2019-07-30 17:46] dfcook commented on #51
It looks like testing-library uses codecov.io rather than coveralls, so it could be as simple as changing the url to:

https://codecov.io/github/testing-library/vue-testing-library

[2019-07-30 17:50] dfcook commented on #41
It should, and I've tried to debug this but not got anywhere unfortunately.

The way I see it is that the current implementation was as if RTL was built on top of enzyme, however they do have the advantage of having react-dom to help them do a simple render. If we just copy and paste the  @vue/test-utils mount then we aren't really gaining anything but if we can render the components simply withou

[2019-07-30 17:55] afontcu commented on #61
Closed in #64

[2019-07-30 17:55] #61 closed

[2019-07-30 18:07] afontcu commented on #51
I just requested to install [the Codecov app](https://github.com/apps/codecov) on VTL, we'll see how it goes :)

[2019-07-30 18:17] dfcook commented on #51
I've enabled it, want to try a commit?

[2019-07-30 18:21] afontcu commented on #41
do you mean something like this?

[code]

Can't think of a simpler way to render a component 🤔

[2019-07-31 07:43] dfcook commented on #51
Updated to use codecov, also updated badge in readme

[2019-07-31 07:43] #51 closed

[2019-08-02 15:31] afontcu opened #67 "VTL needs an emoji :)"
VTL is the only Testing Library member without an emoji of an animal :)

Suggestions? I'd go with any of the greenish ones 🦎🐸🐊🦖

![imatge](https://user-images.githubusercontent.com/9197791/62381105-07d3b380-b54b-11e9-91e4-9461f92e052c.png)

[2019-08-03 11:20] afontcu opened #68 "Add <slot> testing demo"
Even though there are no differences between VTL and @vue/test-utils regarding slots, I believe having an example would harm noone.

It'd be great if the example file:
* Used a simple, default slot.
* Used named slots.
* Used scopes slots.
* Stated that there should be no differences between testing slots in VTL and VTU.

[2019-08-03 18:17] dfcook commented on #67
My youngest son is a big fan of lizards so I'd go for that one myself

[2019-08-04 08:07] afontcu commented on #67
Sounds like a compelling reason to me :)

[2019-08-04 20:27] #67 closed

[2019-08-08 07:34] afontcu commented on #68
Closed in #71

[2019-08-08 07:34] #68 closed

[2019-08-10 09:48] afontcu opened #76 "Codecov is sending the same message twice on each PR"
Since, I guess, #51

[2019-08-10 10:16] afontcu opened #77 "Automatically cleanup if afterEach is detected"
Right now, users need to call `afterEach(cleanup)` or configure Jest [to do so](https://testing-library.com/docs/vue-testing-library/setup#cleanup). This makes sure test run in isolation, but requires manual action.

---

As React Testing Library [just did](https://github.com/testing-library/react-testing-library/pull/430), we should probably automatically call `cleanup` if `afterEach` method exis

[2019-08-10 12:18] afontcu opened #78 "Deprecate vue-testing-library"
react-testing-library is [marked as deprecated](https://www.npmjs.com/package/react-testing-library), so anyone using it will receive a nice deprecation message.

I believe we should do the same thing with [vue-testing-library](https://www.npmjs.com/package/vue-testing-library) with the same message.

(I believe only @dfcook can actionate this).

[2019-08-10 14:08] Oluwasetemi commented on #77
Can I just on this

[2019-08-10 14:44] afontcu commented on #77
Sure, go for it! 😊

[2019-08-10 19:10] Oluwasetemi commented on #77
@afontcu can you please help me clarify some things.

1. I will call `afterEach(cleanup)` in the main `vue-testing-library.js`?
2. I don't know how to check if afterEach is called in a test?

[2019-08-10 19:15] afontcu commented on #77
Hi! Sure!

The idea is to follow React Testing Library steps, so [their Pull Request](https://github.com/testing-library/react-testing-library/pull/430) is gonna be really helpful.

1. Exactly, that's the main goal.
2. It's not about afterEach being called in a test, it's about checking if "afterEach" exists at all. Some test runners, such as Ava, do not have this function. Check the [index file](

[2019-08-10 19:17] Oluwasetemi commented on #77
Currently going through the merged PR. I hope to send a PR when I get it all figure.

[2019-08-10 19:19] afontcu commented on #77
great :) feel free to create a draft PR so we can discuss things over code.

[2019-08-10 19:59] Oluwasetemi commented on #77
#80 have solved the first two concerns I think?

[2019-08-11 08:13] afontcu commented on #77
@Oluwasetemi yes, looks great! :)

Next step is testing it out, and also I would add some comments explaining the feature. Something like the following:

[2019-08-11 08:38] afontcu opened #81 "Add semanting release bot"
Other Testing Library members are using https://github.com/semantic-release/semantic-release to handle their releases.

It looks great not only because of the sensible version bumping, but also for all the automated tasks it handles (notifications, formalized commits,...).

Thoughts?

[2019-08-13 08:00] dfcook commented on #78
I have deprecated [vue-testing-library](https://www.npmjs.com/package/vue-testing-library) however the deprecation message currently only appears on the individual version pages, not the main page. Unsure why that is.

[2019-08-13 08:02] dfcook commented on #81
Would be very happy to go with this, getting the release process into CI was one of the things on my todo list.

[2019-08-13 08:03] afontcu commented on #78
I'm actually seeing the message right after entering the main page. Cache issues, maybe?

[2019-08-13 08:04] dfcook commented on #78
Must be, I'll close then!

[2019-08-13 08:04] #78 closed

[2019-08-13 08:18] afontcu commented on #81
Great! `semantic-release` relies on commit messages to infer new versions, so AFAIK that would mean implementing a tool such as [commitizen](https://github.com/commitizen/cz-cli).

Not sure what are the implementation steps, but I'll open a PR so that we can see what are the main changes.

[2019-08-13 09:00] dfcook commented on #76
Are you getting these as emails? I've just raised a PR and received only 1 message from codecov

[2019-08-13 09:02] afontcu commented on #76
Yeah, haven't experienced it anymore. It might've been something temporary with Codecov API or whatever. Closing :)

[2019-08-13 09:02] #76 closed

[2019-08-13 09:13] dfcook commented on #41
Added support for functional SFC without a component
Pure functional components look like they need to supply a render function rather than a template, added an example illustrating this.

[2019-08-13 09:13] #41 closed

[2019-08-13 20:46] afontcu opened #83 "Warn about v-model components not handled with fireEvent.change"
More often than not people relies on `fireEvent.input` or `fireEvent.change` to handle v-model powered inputs, thus running into issues with input value not being properly updated.

I'm wondering if we should provide some kind of warning when that happens.

Does it make sense?

[2019-08-14 03:35] Oluwasetemi commented on #77
I just created 2 test files to check the auto-cleanup and the auto-cleanup-skip.

cc @dfcook @afontcu

[2019-08-14 05:48] afontcu commented on #77
@Oluwasetemi perfect! I've added a few comments.

Next steps:

1. "Remove `cleanup` references from tests". It means that all tests provided in Vue Testing Library should not use `cleanup()` themselves.
2. "Replace cleanup-after-each with a warning". If someone is still importing `cleanup-after-each.js` after updating VTL, we should warn them that the file is deprecated and we might be removing it

[2019-08-14 09:27] Oluwasetemi commented on #77
I have updated the PR

[2019-08-14 21:50] weyert opened #84 "Add typescript definitions to DefinitelyTyped"
Let's add DefinitelyTyped type definitions for `vue-testing-library`

[2019-08-14 21:50] weyert commented on #84
I will pick this up 💃

[2019-08-14 21:53] afontcu commented on #84
By all means! thanks 🤘🏼🙌🏼

[2019-08-15 10:51] afontcu commented on #52
I'm closing this and leaving the PR open for a while, see if we can find a compelling reason to expose the `history` object

👍

[2019-08-15 10:51] #52 closed

[2019-08-15 21:27] afontcu commented on #84
For reference:

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/37655

[2019-08-18 19:22] afontcu opened #89 "Add accordion/dropdown test demo"
It is a common UI pattern, so it'd be great if VTL provided a simple test example.

It could feature:
* an accordion/dropdown using `v-show`
* asserting visibility (and non-visibility) with `.toBeVisible()` from jest-dom.

[2019-08-18 20:27] #84 closed

[2019-08-18 20:39] weyert commented on #84
Sweet :)

[2019-08-18 20:52] #81 closed

[2019-08-18 21:18] afontcu commented on #84
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-19 08:34] #77 closed

[2019-08-19 08:38] afontcu commented on #77
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-26 13:37] rubenmoya opened #92 "How to use with Nuxt.js"
Hello!

I'm trying to use `vue-testing-library` with Nuxt.js and I'm facing a problem with `asyncData` not being called.

I've been reading for a while, and some people call `wrapper.vm.$options.asyncData()` manually, but that feels super dirty to me, also I don't think `vm` is available in `vue-testing-library`

Any idea of how can I do it? I ran out of ideas to be honest.

I've seen @afontcu pos

[2019-08-26 15:13] afontcu commented on #92
Hi Rubén! This is quite a good question 🤔

I can't think of a way to test a page with `asyncData` (or `fetch`), since they are not part of the usual component lifecycle. AFAIK same issue should happen in Vue Test Utils.

Not sure there's a way for us to fix this, to be honest. You could try and use tools such as `nuxt.renderRoute` as described [here](https://nuxtjs.org/guide/development-tools#end-

[2019-08-31 08:34] #89 closed

[2019-09-03 13:23] #92 closed

[2019-09-03 13:23] afontcu commented on #60
I'm closing this since VTL is now providing types :)

[2019-09-03 13:23] #60 closed

[2019-09-03 13:52] rubenmoya commented on #92
To be honest I didn't came up with a good solution, I just went ahead and used Cypress 🤷‍♂

[2019-09-03 15:45] afontcu commented on #92
Thanks for the update! Looks like the way I would've followed, too :)

[2019-09-27 13:38] ChristophWalter opened #98 "Provide options to adapt the document before mount"
**Describe the feature**
We are using Vuetify as component library in one of our projects. I would like to introduce vue-testing-library and came up with some setup troubles on the way. Vuetify requires a wrapper element containing the attribute `data-app`. This element is used to append components like dialog to the root DOM level. The required setup can be done using jest setup files. Thought, t

[2019-09-28 04:41] vinliao opened #99 "fireEvent.click() on <a> tag doesn't work"
**Describe the bug**
Expectation: fireEvent.click() on <a> tag will change `window.location.href`, but it doesn't. This is "emulating" a user click on an external link on a Vue app.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I'm expecting the window.location.href to equal `http://title1.com`, but I got `http://localhost/` instead.

**Related information:**

-

[2019-09-28 10:32] afontcu commented on #99
Hi! And thanks for filling this in 🙌

Is it possible that the issue is not related to Vue Testing Library but with `jsdom` itself? https://github.com/jsdom/jsdom/issues/2112 (and [here](https://remarkablemark.org/blog/2018/11/17/mock-window-location/)). It would make sense, as we don't do anything special regarding links.

Hope it helps!

[2019-09-28 10:45] afontcu commented on #98
Hi! Thanks for the detailed issue.

We've got similar requests/issues through other channels regarding modals and, in general, elements that render outside of the parent component DOM node tree.

I do believe there's a divergence between Vue Testing Lib and React Testing Lib, since their queries are bound to the whole document, not the wrapper of the rendered element.

Bounding queries to the oute

[2019-09-28 10:46] afontcu commented on #98
Oh, by the way, `Vue.use(Vuetify)` should be performed using the callback function provided by `render()` ([example](https://github.com/testing-library/vue-testing-library/blob/master/src/__tests__/validate-plugin.js)):

[code]

this is something that could be done inside your custom renderer, too, so you don't have to repeat it every time.

[2019-09-28 15:20] ChristophWalter commented on #98
Thanks for your fast response!

Yes, this would work. 👍

I did it quite similar and it works. Just not sure on how to pass all events up, so `emitted()` still works. Here is the (fixed) example:

[code]

Yeah, it should... But vuetify has an issue with multiple vue instances if it is initialized like that. This might be already fixed in the current version. In the meantime I use the jest setup fil

[2019-09-30 02:42] vinliao commented on #99
Thanks for helping @afontcu, I decided not to implement this test because simulating a click and on `<a>` tag and checking the url of the browser seems like testing the implementation details of `<a>` tag, which _I think_ is against the guiding principle.

But for the future people who encounter this problem and would like to implement this kind of test, [here's](https://stackoverflow.com/question

[2019-09-30 02:42] #99 closed

[2019-09-30 05:25] afontcu commented on #98
Hi! Thanks for the detailed answer.

I've set up a PR to try to bound queries to the parent node: https://github.com/testing-library/vue-testing-library/pull/100

[2019-10-09 11:22] #98 closed

[2019-10-09 11:25] afontcu commented on #89
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-09 11:25] afontcu commented on #98
:tada: This issue has been resolved in version 4.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v4.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-10-16 09:46] afontcu opened #101 "Mention eslint-plugin-testing-library"
I believe it'd make sense to mention that https://github.com/Belco90/eslint-plugin-testing-library exists and that it's a great addition when working with VTL.

A simple section + link in the README would do.

[2019-10-16 09:55] afontcu opened #102 "Allow debugging an array of containers"
As per https://github.com/testing-library/react-testing-library/pull/495, Vue Testing Library could also allow passing a list of containers to our `debug()` method.

[2019-10-29 06:18] afontcu commented on #102
Closed thanks to #104

[2019-10-29 06:18] #102 closed

[2019-10-31 05:18] #101 closed

[2019-11-04 06:04] chiptus opened #108 "add example for using directives"
as per https://spectrum.chat/testing-library/help-vue/mocking-directives~1167b8e5-a303-494e-a0c5-593d75e8b792 example is needed to test a component that is using a directive

[2019-11-04 06:05] chiptus commented on #83
Do we have docs about it? I'm currently struggling with updating a custom component in a form using `fireEvent.update`

[2019-11-04 06:40] afontcu commented on #83
We do have a section in the [API docs](https://testing-library.com/docs/vue-testing-library/api#updateelem-value), and some examples in the repo:

https://github.com/testing-library/vue-testing-library/blob/993c87f8742fcaaaa942c8ae04b63f503f4e5824/src/__tests__/select.js
https://github.com/testing-library/vue-testing-library/blob/993c87f8742fcaaaa942c8ae04b63f503f4e5824/src/__tests__/form.js

[2019-11-04 06:55] chiptus opened #109 "some packages are shown as security issues"
when running `npm install`, there are three deps that are giving security issues:
handlebars is fixed with `npm audit fix` (i'll make a PR), but other two are showing:
[code]

[2019-11-04 07:09] chiptus commented on #83
is `fireEvent.update` working with custom elements? like if I have a custom select box? in your examples you find the select component, but in the end, it's just a regular select. I'm trying to understand if all fireEvent.update expect is a component which can be used with v-model (because in my examples, it doesn't work)

[2019-11-04 07:16] afontcu commented on #83
If that's the case, would you mind opening up a new issue with a reproduction link? All `fireEvent.update` [does](https://github.com/testing-library/vue-testing-library/blob/master/src/vue-testing-library.js#L128) is guessing the input type it was called upon, and update its value accordingly.

Thanks!! 🙌

[2019-11-04 07:21] afontcu commented on #109
These two dependencies are coming from [kcd-scripts](https://github.com/kentcdodds/kcd-scripts), I guess Kent would be very happy to find a PR updating them 😄

thanks!

[2019-11-04 07:21] #109 closed

[2019-11-04 09:23] chiptus commented on #83
If I understand the code for [fireEvent](https://github.com/testing-library/dom-testing-library/blob/1233db0d343fa73fb2bc68fcbe816933adc2042e/src/events.js), this function just fires native events, right? if I want to update a component, I should update it as the user does, for example in my selector, I would click open, and choose the right value. right?

[2019-11-04 18:23] afontcu commented on #83
Yes, it is aligned with the guiding principle of Testing Library: keeping things as close as how your software is used.

Exactly! Interact with your component as any user would (or, well, as similar as possible).

---

`fireEvent.update` goes the extra mile and helps you with common use cases for `v-model`,  but I'm not 100% positive it would handle complex scenarios with custom events and compoun

[2019-11-05 16:20] chiptus commented on #83
I actually found a very nice solution, I'll try to post an example

[2019-11-13 12:12] bennettdams commented on #98
Sorry for digging this up, but the released code talks about a possible way to create a custom render function to wrap Vuetify:

https://github.com/testing-library/vue-testing-library/blob/master/src/__tests__/vuetify.js#L16

How would this may look?

I would love to eliminate the need of writing `Vue.use(Vuetify)` in every single test file, so I created a wrapper function in a separate file based

[2019-11-13 13:09] bennettdams commented on #98
Thanks to this conversation I created a wrapper to use Vuetfiy, but there is one thing that I'm not sure about.

I would like to eliminate the need of writing `Vue.use(Vuetify)` in every test, so I now do that when overwriting the render function as discussed in this conversation.

Is there any downside of doing it like that?

[code]

[2019-11-13 14:55] afontcu commented on #98
Hi! I can't think of any downsides of the top of my head, as long as Vuetify issue with multiple Vue instances is still a thing (I guess it is!). This is something that should be fixed on their own, so I'd say having a comfortable workaround should do the trick 👍

[2019-11-13 17:37] bennettdams commented on #98
The example above works only for Vuetify components that don't use the `$vuetify` instance property (will always be undefined in the test).

You can bypass this by using `{ vuetify: new Vuetify(), ...options },`.

For any future readers, here is the complete setup:

_Maybe interesting for the documentation/examples?_

[code]

[code]

[code]

[2019-11-15 03:16] nikravi opened #113 "can't use vuetify before rending a component"
**Describe the bug**
I would like to add `vuetify` to vue before rending a component that uses vuetify components, so that the render is successful

**To Reproduce**
1. create a component that uses `<v-btn>Ok</v-btn>`, making sure it renders correctly in browser (follow vuetify instructions)
2. write unit test for it. Classic example using the vue/testing-utils:
[code]
vuew/test-utils exposes crea

[2019-11-15 09:10] afontcu commented on #98
Looks like a nice improvement for the Vuetify example. Fancy to open up a PR with the appropriate modifications? 🤗

[2019-11-15 14:34] nikravi commented on #113
ok, I found the fix. The trick was to add
[code]

and then the `render()` works without warnings.

[2019-11-15 14:34] #113 closed

[2019-11-17 17:26] afontcu commented on #113
For future readers: there's a test example here:

https://github.com/testing-library/vue-testing-library/blob/master/src/__tests__/vuetify.js

[2019-11-26 02:23] VueBeginner opened #116 "How to test methods in the component?"
I've seen the testing examples like simple-button.js which has :
 `await fireEvent.click(getByRole('button'))` and tests the emitted() function.
But how can I actually test the handleClick method  in the Component:
`<button @click="handleClick">{{ text }}</button>`.
I want to be able to write something like: `expect(handleClick).toHaveBeenCalled()`.
Or for a component with mounted hook:
`mounted()

[2019-11-26 08:35] afontcu commented on #116
Hi! The guiding principle of this library is that you shouldn't be testing specific methods, but rather the "output" of the method.

Is the method emitting an event? Is it sending an HTTP request? those are the things you'd want to test.

If you need further help, feel free to reopen the issue and share your `handleClick` implementation and we can figure out what to test :)

[2019-11-26 08:35] #116 closed

[2020-01-09 14:16] EvanBurbidge opened #118 "Cannot set data properties on a component"
**Describe the bug**
From what i've heard this library is a wrapper around @vue/test-utils, one of the most handy functions I find with that library is the wrapper.setData() method. I cannot do that with this library.

**Expected behavior**

When rendering a component I should be able to set the data attributes on rendering.
[code]
**Related information:**

- `@testing-library/vue` version: 4.1.0

[2020-01-09 15:21] afontcu commented on #118
Hi! Thanks for filling in the issue.

This is not a bug, since VTL aims for providing the tools that allow you to interact with your components as the end user or the developer would do – neither of them would be able to directly modify the internal data from a component, and this is why VTL does not exposed such method.

What's your use case? Maybe we can figure it out 🙌

[2020-01-09 15:26] EvanBurbidge commented on #118
@afontcu In my component there are some api calls within methods on the component. These set certain data attributes, i'm not sure how to mock them as they are hardcoded into the component itself. This is why i'm using the setData method from vue-test-utils in order to set the values.

[2020-01-09 15:28] afontcu commented on #118
You should mock you API calls – https://afontcu.dev/testing-api-calls/

So you can test without hitting a back end, and also reassure that you're getting the desired output from the API call.

[2020-01-09 15:29] EvanBurbidge commented on #118
In that example the api calls are in a separate file. My api calls are written into the vue component itself.

[2020-01-09 15:30] afontcu commented on #118
If a test is hard to write, it usually means the component is doing too much, or that it is too coupled. You might benefit from removing responsibilities from it to other parts of your system.

Anyway, you can easily mock `axios` (or `fetch` or any other service) the same way!

[2020-01-09 15:31] EvanBurbidge commented on #118
This is true, might refactor the component! Nice one :)

[2020-01-09 15:31] #118 closed

[2020-01-09 15:32] afontcu commented on #118
Thanks for commenting, though! :) Feel free to raise any other issue or ask any question in our Spectrum chat: https://spectrum.chat/testing-library

[2020-01-14 13:52] FCalabria opened #119 "Vue router configuration not working with mocha-chai"
**Describe the bug**

When trying to use the router option in a mocha + chai project, it fails with `TypeError: VueRouter is not a constructor`

**To Reproduce**

Run unit tests:

https://github.com/FCalabria/testing-library-mocha

The same project with jest, works perfectly.

**Related information:**

- `@testing-library/vue` version: 4.1.0
- `Vue` version: 2.6.10

Changing the way to import the

[2020-01-29 16:21] emilsgulbis commented on #98
`renderWithVuetify` helper is great, but unfortunately looks like `updateProps` doesnt work in this situation, i guess thats because it's trying to update props for `data-app` wrap component!?

[2020-02-22 10:08] #108 closed

[2020-02-28 17:01] ChamNouki commented on #98
same things for `emitted` helper returning the events emitted by `data-app` wrap component?

[2020-03-02 10:59] ChamNouki commented on #83
I've got an issue that i think is related to this one.

I've got a custom input file component that use v-file-input from vuetify. My component emit `input` event to give selected file to the parent component through `v-model`. It works perfectly in browser but `emitted()` does not see any event.

[2020-03-03 17:34] mediafreakch commented on #113
@afontcu  I have the problem that with your example, child components of the tested component don't have access to `store` anymore. For them it is `undefined`. Any idea how to fix?

[2020-03-03 17:40] afontcu commented on #113
Hi @mediafreakch! Would you mind opening up a [new issue](https://github.com/testing-library/vue-testing-library/issues/new/choose) with some reproduction links or repos?

Thank you! 🙌

[2020-03-04 09:40] mediafreakch opened #122 "store not available in child components"
**Describe the bug**
`store` is undefined in child components.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/mediafreakch/vue-testing-library-bug
2. run `npm install`
3. run `npm test`

The second test fails.

**Expected behavior**

Second test passes.

**Screenshots**

**Related information:**

- `@testing-library/vue` version: 4.1.0
- `Vue` version: 2.6.11
- `no

[2020-03-04 09:40] mediafreakch commented on #113
@afontcu https://github.com/testing-library/vue-testing-library/issues/122

[2020-03-04 10:29] afontcu commented on #108
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/4.2.0)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-04 10:29] afontcu commented on #101
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/4.2.0)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-04 10:29] afontcu commented on #109
:tada: This issue has been resolved in version 4.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/4.2.0)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v4.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-09 07:37] mediafreakch commented on #122
After all I've read, could this be due to a clash of Babel versions?

`vue-testing-library: @babel/core@7.8.4`
`vue-test-utils: @babel/core@6.26.0`

Version `7.8.4` includes `dynamic-import-node` plugin, while the latter does not.
I wouldn't know how to fix though nor if that really can be a factor...

[2020-03-17 14:15] #119 closed

[2020-03-17 14:18] afontcu commented on #119
:tada: This issue has been resolved in version 5.0.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/5.0.1)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-18 11:10] afontcu commented on #119
:tada: This issue has been resolved in version 5.0.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/5.0.2)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-28 09:08] rzkhosroshahi opened #129 "Question about (engine property) in the package.json file"
Hello
I have a question
Why did you add engine property in the package.json file? I have an issue with this because it makes an error in my ci/cd. that issue is my node engine version is not compatible whit engine that you added in package.json file and pipeline break up.

[2020-03-29 20:14] afontcu commented on #129
Hi!

What node version is your CI/CD pipeline running on?

[2020-03-29 21:33] rzkhosroshahi commented on #129
Hey. its 8 version

[2020-03-30 07:13] afontcu commented on #129
Then that's the reason 😄 In [v5.0](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.0) we dropped support for Node 8, since it is out of LTS and we updated [DOM Testing Library](https://github.com/testing-library/dom-testing-library/releases/tag/v7.0.0).

I guess you'd need to update your CI to support LTS node versions!

I'm closing this, but thanks for filling this in!
Ha

[2020-03-30 07:13] #129 closed

[2020-03-30 14:04] ChristophWalter opened #130 "Setting initial route fails when routes have dynamic import"
**Describe the bug**
There is a test which shows that initialising a router can be done by pushing a path. We use dynamic imports to lazy[ load our routes](https://router.vuejs.org/guide/advanced/lazy-loading.html#grouping-components-in-the-same-chunk). In combination, this results that the initial route is not set at all.  https://github.com/testing-library/vue-testing-library/blob/d628f36b6122e6

[2020-03-31 09:29] MartinMalinda opened #131 "<!----> rendered instead of a child component"
EDIT: This seems to be Composition API related. The button does not get rendered because
I use `<component :is="componentType">` and `componentType` is coming from `setup()` which does not get called. In `vue-test-utils` I could pass localVue that would have `Vue.use(Composition)`. Is there a way for this here?

I'm rendering a component that has several child components. My buttons could not be f

[2020-03-31 09:48] MartinMalinda commented on #131
☝️ I've renamed `<Button>` to `<SomeButton>` and I'm still experiencing this issue.

One unique thing about my `<Button>` is it uses `<component is="">` inside.

[2020-03-31 09:55] MartinMalinda commented on #131
Closing, it seems like this issue is not related to `vue-testing-library` but to the `vue-file-upload` I just happened to notice it after installing `vue-testing-library` (🎉 ), previously the test was passing

[2020-03-31 10:24] MartinMalinda commented on #131
This seems to be Composition API related. The button does not get rendered because
I use <component :is="componentType"> and componentType is coming from setup() which does not get called. In vue-test-utils I could pass localVue that would have Vue.use(Composition). Is there a way for this here?

[2020-03-31 11:25] ChristophWalter commented on #130
Further investigations showed that the error only occurs when using async import and nested routes in combination. I reproduced it in this fork commit: https://github.com/ChristophWalter/vue-testing-library/commit/57d060f369ccb555321d36523edcb8dfe45632b0

[2020-03-31 14:44] MartinMalinda commented on #131
This approach was the best solution: https://github.com/testing-library/vue-testing-library/blob/a2c0f6f5a8e1f549918aa5416b265feeb34fa8ec/src/__tests__/vuetify.js#L9. Closing.

[2020-03-31 14:44] #131 closed

[2020-03-31 15:17] ChristophWalter commented on #130
This is really hard to debug, but I discovered something interesting:

- The router.push() command fails. This can be seen using the two callback parameter.
- It seems to be related to the execution order. Mounting the component first and pushing the new routes afterwards works. But I would like to avoid using a reference to the router:
[code]

Is it somehow possible to wait for the configurationC

[2020-03-31 15:41] ChristophWalter commented on #130
I created a pull request to fix this. **But** the current solution changes the public interface from
[code]
to
[code]
Any ideas on how to avoid this?

[2020-04-01 05:43] afontcu commented on #130
Hi! Thanks for the extensive reporting and for working on this 🤗

I feel too that changing the public `render` interface to a Promise is a big deal. It would solve, however, several issues I encountered regarding the first "tick", where stuff in `mounted()` or `created()` is not executed until we await one clock tick.

It is a big deal, but I wonder if there's any workaround on this. I'll give a l

[2020-04-01 05:46] afontcu commented on #131
Hi Martin! We haven't explored an integration with the Composition API or the beta of Vue 3, so I would say this is an expected issue :) We'll work on that as soon as things get a bit more stable.

Thanks!

[2020-04-01 06:17] ChristophWalter commented on #130
Thanks, you too! 🤗

Of course, we could also call router.push() after mounting within `vue-testing-library.js` or call another  callback there.

But that would still be asynchronous with potential side effects. And the mounted app would not start with the initial route, rather navigating there right after mount. (Which actually is currently happening even if there are no async imports.)

Another (

[2020-04-01 06:56] ChristophWalter commented on #130
By the way: Do you know of any way to improve debugging output in jest? The router.push() here throws an error:
[code]
But the jest output looks like the following:
[code]
It would be very helpful to get a line number pointing to the real error...

[2020-04-01 16:10] MartinMalinda opened #133 "Rendering an imported component in slot"
I'm rendering a component like this:

[code]

Unfortunately, I'm still getting

[code]

Is there a solution to this? Thanks!

[2020-04-01 16:12] MartinMalinda commented on #131
OK! I didn't notice any issues after `Vue.use` was done correctly in test setup.

[2020-04-01 17:37] afontcu commented on #133
Hi! I don't think this would work even with Vue Test Utils, would it? 🤔 I mean, VTU doesn't allow to provide a `components` key to register additional components.

I guess you can provide a stub (`stubs: ['MyInput'],`)?

[2020-04-01 17:44] MartinMalinda commented on #133
Ohh, That's quite possible. I'm still quite new to Vue.

Maybe I could create a quick wrapper component just for the test purpose and test it with it, I'll report here tomorrow:)

[2020-04-02 06:35] dfcook commented on #130
Have you tried adding verbose: true to your jest config?

[2020-04-02 13:52] ChristophWalter commented on #130
I just tried it, but I can see no difference...

[2020-04-05 09:04] afontcu commented on #130
I guess this throws because there's no initial route, so `router` is null :) we're only initializing the Router if some route is present: https://github.com/testing-library/vue-testing-library/blob/master/src/vue-testing-library.js#L38-L45

[2020-04-09 05:48] afontcu commented on #133
Hi @MartinMalinda! Any chance you could give this a go? 😇

[2020-04-11 09:44] MartinMalinda commented on #133
Yes! This approach seems to work:

[code]

test:

[code]

Afterwards I can test the interaction between both of these components. Still feels a bit like a workaround though. Would be nice to have a JSX at least or better, pass a template. Good enouh for me so far though.

[2020-04-11 11:00] ChristophWalter commented on #130
Hi @afontcu, I was referring to [the lines of this commit](https://github.com/ChristophWalter/vue-testing-library/blob/57d060f369ccb555321d36523edcb8dfe45632b0/src/__tests__/vue-router.js#L54-L56). I just wanted to show a minimal example, sorry for the confusion. The routes are defined and the `router.push('/about/me')` throws an error when not waiting for its promise to resolve before continuing

[2020-04-11 20:47] rzkhosroshahi opened #135 "Does anybody have an idea of how can I test a component that used portal?"
Hello.
I was trying to test a component that used [portal-vue](https://github.com/LinusBorg/portal-vue) package. My issue is how can I ensure that a component inside the portal after clicking on something, it's rendered or exist.

[2020-04-12 08:25] afontcu commented on #135
Hi! Haven't used portal-vue before, fancy to open up a PR to set an example in this repo? 🤗

I guess you'll need 2 things: 1 to register portal-vue as a plugin:
[code]

and 2 to make sure you render the `destination` node in a custom `container` or `baseElement`. Again, I'm wild guessing since I haven't use it before :)

[2020-04-14 08:09] afontcu commented on #135
@rzkhosroshahi does #136 help you? 🤗

[2020-04-14 09:21] rzkhosroshahi commented on #135
Yes, thanks. it's really helpful ☺️. But in many real-world usages of the portal, the target portal there is not on the same component, so I think we need a component to wrap portal target and make sure this component renders the portal component.

[2020-04-14 11:29] #135 closed

[2020-04-19 15:19] #133 closed

[2020-04-28 15:54] jameesjohn commented on #83
I noticed this while testing a component too.
I think having a warning of some sort will be great.

[2020-05-06 10:55] afenton90 opened #138 "`options.attachToDocument` is deprecated & `isVueInstance` is deprecated"
**Describe the bug**

When running the latest versions of `@testing-library/vue` & `@vue/test-utils` I get the following 2 `console.error` from `@vue/test-utils`:

`[vue-test-utils]: options.attachToDocument is deprecated in favor of options.attachTo and will be removed in a future release`
`[vue-test-utils]: isVueInstance is deprecated and will removed in the next major version`

It is true that

[2020-05-06 10:55] afenton90 commented on #138
Happy to pick up the fix for this, if it isn't already being done

[2020-05-06 10:59] afontcu commented on #138
Hi! Thanks for bringing this up.

True that we should bump VTU to v1.0 now that it is out of beta, and handle these couple of deprecation messages.

If you're willing to work on this, then by all means! 🤗

for the record: There's an [ongoing PR](https://github.com/testing-library/vue-testing-library/pull/137) to port Vue Testing Library to Vue 3 and Vue Test Utils 2.

[2020-05-06 11:05] afontcu commented on #138
However… may I ask why are you installing @vue/test-utils manually? I mean, Vue Testing Library already installs beta.32 [for you](https://github.com/testing-library/vue-testing-library/blob/master/package.json#L46)

[2020-05-06 12:40] afenton90 commented on #138
Hey @afontcu thanks for the context. Yeah sure I can put in a PR to get that sorted 😄

For the `@vue/test-utils` dependency I am not installing it manually. Seems that `yarn` has resolved it to `1.0.0` even though the beta version is specified in `package.json`.

This is the entry in my `yarn.lock` file.
[code]

[2020-05-06 14:16] afontcu commented on #138
oh, dang, you're right:

![image](https://user-images.githubusercontent.com/9197791/81187526-7818d500-8fb4-11ea-9fbf-7e71e5e4a5e8.png)

So, I think we should:

* Mark `^1.0.0` as the desired version of VTU.
* Replace `attachToDocument` with `attachTo`. no need to change anything else.
* Replace `isVueInstance`. Not sure about possible edge cases here. In VTU we [replaced it with `this.vm`](https:/

[2020-05-08 06:47] jdriesen opened #140 "Using external libraries"
Hi,

First of all, thanks for sharing this great library.
It's really a great help !

I'm having a small question about using external libraries.
e.g. I would like to use to the ```jest-image-snapshot``` library.

Can you give me a some info about best practices ?
(an small example would be really great...)

Thanks in advance for your reply,

Kind regards,
Johnny Driesen
Belgium

[2020-05-08 07:21] afontcu commented on #140
Hi! Thank you for your kind words :)

I've never used this library before, but seems like you just need to pass in some DOM nodes, right? You could get `container` or `baseElement` from `render()`,  and pass it down to `jest-image-snapshot`.

[2020-05-08 07:30] jdriesen commented on #140
Thanks for your quick reply, @afontcu .
Gonna give it a try.
(though, I've to say I'm rather new to Vue Testing )

BTW: Thanks for all your documentation !
That's really a great help for a newbie like me.

[2020-05-08 07:41] afontcu commented on #140
Thanks! Going to close this up, feel free to ask for help in [Spectrum](http://spectrum.chat/testing-library) and open new issues in the repo for potential bugs or missing features :)

[2020-05-08 07:41] #140 closed

[2020-05-08 08:09] jdriesen commented on #140
If I can ask ...
- any particular reason why you're using ```kdc-scripts``` in your demo ? (confuses me a bit)
- Seems that upgrading ```@vue/test-utils": "^1.0.0-beta.32``` to the latest version (i.e. 1.0.2) breaks everything...

Can you give me a little help, please ?

[2020-05-08 08:17] afontcu commented on #140
Because Vue Testing Library is part of the [Testing Library](https://testing-library.com/) family, and almost all other projects use `kcd-scripts` as well. This way we can keep things similar across projects.

Yep, that's quite expected. We're working on it here: https://github.com/testing-library/vue-testing-library/pull/139

[2020-05-08 08:21] jdriesen commented on #140
Once again, thanks for your quick reply.
Thanks to you, I've learned already a lot today.

And I promise, next time,  I'll use Spectrum for my questions.

[2020-05-12 14:50] Vernando05 opened #141 "vue-apollo example"
Is there any vue-apollo test example? It would be great to have some guidance on it

[2020-05-12 15:10] afontcu commented on #141
Hi! 👋

Not really. Fancy to add one? It would be great 🤗

[2020-05-20 16:27] #138 closed

[2020-05-20 16:32] afontcu commented on #135
:tada: This issue has been resolved in version 5.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/5.0.3)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-20 16:32] afontcu commented on #138
:tada: This issue has been resolved in version 5.0.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/5.0.3)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-24 18:37] #141 closed

[2020-05-25 17:00] nchauhan-ee opened #145 "Drag & Drop fireEvents are not working"
**Describe the bug**
Drag & drop events are not working when using with https://github.com/SortableJS/Vue.Draggable

**To Reproduce**
I created a git repo to reproduce this issue:
https://github.com/nchauhan-ee/sortable/blob/master/tests/unit/App.spec.js

**Expected behavior**

Drag & Drop to be working

**Related information:**

- `@testing-library/vue` version: `^5.0.3`
- `Vue` version: `^2.6.11

[2020-05-25 20:55] cilice commented on #145
@nchauhan-ee
It's not really a testing library problem, it's more of a `jsdom` problem.

Dragging things is a bit weird with `jsdom`, since the generated events have no coordinates and all dom elements have no layout like width, since `jsdom` doesn't implement it.
I was able to find a cypress test in a PR that got closed that actually demos dragging with vuedraggable: https://github.com/appology/c

[2020-05-25 21:01] cilice commented on #130
@ChristophWalter You can always do that in userland albeit it's cumbersome, all VTL is doing is to spread the options on the config thing. so you might as well do:

[code]

[2020-05-26 04:27] nchauhan-ee commented on #145
In that case I guess I'll have to fall back to vue-test utils just to test the JS Method `onDragEnd` event.

[2020-05-26 04:27] #145 closed

[2020-05-26 15:50] kosciak9 opened #146 "Unable to use `direct-vuex`"
**Describe the bug** Because of the way store is initialized, I'm unable to use `direct-vuex` stores. Short summary, `direct-vuex` is a "wrapper" for `vuex` to provide typing for store. Thanks to it you can do `this.$store.dispatch.myAction(myPayload)` happily.

**To Reproduce** Steps to reproduce the behavior:

- create `store` via `createDirectStore` from `direct-vuex`.
- result of this function

[2020-05-27 04:25] cilice commented on #146
@kosciak9
I think you can skip the store helper if you need more control over the situation.

[code]

[2020-05-27 08:42] kosciak9 commented on #146
Hey, you are right, it works quite well. I was trying to fight it for quite a long time and seems like I missed the most obvious answer. :)

Short code example for anyone with same issue (TypeScript, but didn't actually test it):

[code]

[2020-05-27 08:42] #146 closed

[2020-05-27 08:45] afontcu commented on #146
Glad you got it working!

Instead of importing `createLocalVue` and passing it in as an option in the second parameter, you could use the callback (as pointed out by @cilice) which exposes the Vue instance for the component ([source](https://github.com/testing-library/vue-testing-library/blob/master/src/vue-testing-library.js#L51))

[2020-05-27 08:57] kosciak9 commented on #146
Yeah, but you would have to use it like this:
[code]

As `.use(Vuex)` gotta happen before `createDirectStore`. From my understanding, you're now losing access to `store` and cannot manipulate `state` directly. While I understand that it aligns with the way testing-library works and encourages you to work, we're separating our Vuex logic from our UI logic (Server and UI state) and test them separat

[2020-05-27 09:03] afontcu commented on #146
Isn't the following an option? I've never used `direct-vuex` before, so I might be wrong:

[code]

[2020-05-27 09:09] kosciak9 commented on #146
Seems like we have same idea :D I accidentally didn't remove localVue from options but otherwise code is the same. What about my concerns? Looking at what's `render` is returning, seems like store is not directly accessible anymore.

[2020-05-27 16:37] cilice commented on #146
@kosciak9

Besides  that, I’d actually advice against doing tests like this. Here, you hardcouple your implementation with the output.

What if you rename your action at some point to incrementBy? The important unit here is the Dom output and the caused side effects, like requests. Handling of Vuex happens totally inside the component.

Also, I’m not suggesting not to test your store at all - I th

[2020-05-27 18:28] kosciak9 commented on #146
While I understand your point of view and also dislike this way of testing, sometimes you have to draw a line between units that you're testing, even if those units are quite huge.

In our case we abstracted any communication with APIs to Vuex, and provide just one or two actions that will check input and refetch accordingly. UI components are decoupled from anything besides looking at fetchState

[2020-06-06 15:47] afontcu commented on #141
:tada: This issue has been resolved in version 5.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@testing-library/vue/v/5.0.4)
- [GitHub release](https://github.com/testing-library/vue-testing-library/releases/tag/v5.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-16 06:33] afontcu commented on #130
I feel the suggestion above is valid enough so that we don't need to overcomplicate router setup. As mentioned, VTL provides a comfortable way to set up the store and router, but you can always get the Vue instance and use it in your favor.

Thanks for posting this, though! 👍 It'll be really helpful for anyone else running into issues with dynamic imports.

Closing it up!

[2020-06-16 06:33] #130 closed

[2020-06-18 13:18] Martin7mind commented on #92
i did this and it kind of works.. but is there a better solution now?

[code]

[2020-06-28 21:32] BeeeQueue commented on #122
Can confirm this happening, can't write any tests for components that use vuex. 😞

It's not the babel version. I tried a resolution for it to `7.10.2` and it didn't change anything.

The store is available deep in the private apis `root._vnode.componentInstance.$store`

[2020-07-08 14:10] afontcu commented on #122
Hi! 👋

Just gave the OP repro a go. Not sure why, but removing the first `mockReturnValueOnce` and only running the `"should render the chart component"` test makes it pass. Same thing if I set the `viewInfo` mock per test, instead of relying on `beforeEach`.

In other words – this works:

[code]

[2020-07-09 15:17] mediafreakch commented on #122
@afontcu Like this you basically render the `Dashboard` component, but where `props.viewData` is `undefined`. So the nested `<GenericView>` component is never invoked. Right?

[2020-07-09 16:58] afontcu commented on #122
Yeah, I guess you're right… I gotta say the component is quite complex and right now I don't have the bandwidth to deep dive on this 😅  It is really weird (and I'd say unlikely?) that the store is not available in child components – I've been testing such scenarios myself, and Vue Testing Lib is only importing Vuex and registering the store as a whole in the Vue instance.

If you could come up wit

[2020-07-15 09:47] mediafreakch commented on #122
@afontcu I updated my repository and tried to simplify the example: https://github.com/mediafreakch/vue-testing-library-bug .

It still demonstrates the same problem: The dynamically imported `GenericView.vue` component inside `Portfolio.vue` doesn't have access to the store.

I also wanted to let you know, that I posted the same problem at `vue-test-utils`, as it is reproducible there too: https:

[2020-07-16 10:44] afontcu commented on #122
Hi! Thanks for this 🙌

Didn't notice you posted the same issue in Vue Test Utils. That means this is an **upstream issue**, and as soon as we find a fix in Vue Test Utils, it will work properly here in Vue Testing Lib, too :)

I'll go ahead and close this up!

[2020-07-16 10:44] #122 closed

[2020-07-23 14:22] damafeez commented on #92
This is what I came up with, I might end up converting it into a tiny package later.
[code]
notices how it merges `asyncData` with existing data in `options`

[2020-08-17 13:58] unikitty37 opened #153 "Attempting to use vuex store fails with complaints about getters not being functions, even when they are"
**Describe the bug** A clear and concise description of what the bug is.

Attempting to use the vuex store in a test produces the error `[vuex] getters should be function but "getters.user/isAnonymous" is true.` when getters are defined on the store. The test itself is marked as failed without being executed.

The same component renders under `vue-cli-service serve`, with all behaviour as expected

[2020-08-19 09:15] unikitty37 commented on #153
I seem to have fixed this, but using a different method of setting things up. This also stops Vue from emitting warnings about undefined custom components for `router-link` and the Buefy components.

If I use this in a helper file, and import `render` from there instead of from `@testing-library/vue`, routing and store work as expected:

[code]

It is also necessary to change the exports in `src/s

[2020-08-19 09:15] #153 closed

[2020-09-24 10:39] xiaoping027 opened #157 "Feature: Can provide a similar reactRender hook test library for vue？"
Can provide a similar reactRender hook test library for vue？

[2020-09-24 13:55] MoSattler commented on #153
Hi @unikitty37, I have the same problem, may you elaborate how you solved this?

[2020-09-25 07:13] afontcu commented on #153
hi! looks like they provided a quite detailed solution for their problem. Would you like to share your snippets, so we can find what's wrong there?

That's true and worth adding!

[2020-09-25 07:17] afontcu commented on #157
Hi! I'm not sure what `reactRender` is (I don't think it is part of RTL's API). Can you elaborate, please? Maybe provide a valid use case where current Vue Testing Lib API is not able to solve :)

Thank you!

[2020-09-25 18:59] davidchai717 opened #158 "Vuex would throw warnings about modules getting overridden if I call render() in more than one test"
Oddly this doesn't have if you only have one test that calls render(component, { state: { foo: true }, modules: {...} }). But once I start adding in a second test where I need to render the same component with a Vuex store, it immediately starts throwing these module warnings.

I'd definitely appreciate some assistance here.

[2020-09-27 20:35] nickmccurdy commented on #157
I think they're referring to testing-library/react-hooks-testing-library.

[2020-09-28 08:28] afontcu commented on #157
Hi! 👋

 Oh, I see, that makes sense. I assume someone might want to test [Composition API](https://v3.vuejs.org/guide/composition-api-introduction.html#standalone-computed-properties) functions in isolation, but that's beyond the scope of Vue Testing Lib (similar to testing hooks, which is out of scope for React Testing Lib). For the time being, though, one can render a component and test its inpu

[2020-09-28 08:28] #157 closed

[2020-09-30 08:24] xiaoping027 commented on #157
https://github.com/xiaoping027/vue-renderhook/blob/master/test/index.test.ts

[2020-10-20 09:07] lizy0329 opened #159 "composition-api not support?"
**Describe the bug** A clear and concise description of what the bug is.
A Component render error that use composition-api.

return value in Setup function is nothing.

**To Reproduce** Steps to reproduce the behavior:

**Expected behavior**
render successfully

**Screenshots**

**Related information:**

- `@testing-library/vue` version: ^5.1.0
- `@vue/composition-api` version: ^1.0.0-beta.14
- `n

[2020-10-20 10:17] afontcu commented on #159
Hi!

Could you please post the failing test? Vue Testing Library is using VTU 1.X, meaning it uses Vue 2. So, as long as you register the composition API public, you should be good

[code]

[2020-10-21 06:54] lizy0329 commented on #159
Thank you for your answer!
Normal rendering!
But in TypeScript, I found that need to use `(vue) => {vue.use(VueCompositionAPI)}` instead of `vue => vue.use(VueCompositionAPI)`, if not, throw error.

[2020-10-21 06:57] lizy0329 commented on #159
There has one question for fireEvent.click() not work.

[code]

[2020-10-21 07:07] afontcu commented on #159
Hi!,

this might be due to the test itself, and it is hard to debug without seeing the test and the component. I might blindly suggest to use `fireEvent.update` instead of `click`.

I'm going to close the issue, since there's nothing that prevents people from using composition API :) feel free to open up additional issues if needed.

Thanks!

[2020-10-21 07:07] #159 closed

[2020-10-27 00:57] jhack32 commented on #83
@afontcu - Is this something that needs to be done? I can give it a try

[2020-10-27 08:02] afontcu commented on #83
Hi @jhack32! Yeah sure! 🚀  I think it'd be great to add a warning message when using typing events on elements that we know may cause unexpected issues, and suggest people to use `update` instead :)

[2020-10-31 19:18] afontcu opened #162 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2020-10-31 19:39] afontcu commented on #162
## :rotating_light: The automated release from the `beta` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you can

[2020-10-31 19:48] #162 closed

[2020-10-31 22:55] afontcu commented on #158
Hi! Sorry this slipped through the cracks. Do you still experience this issue?

Could you share a snippet/codesandbox/repo where the issue could be reproduced? That'd help a lot.

I'd suggest making sure you're not sharing the component instance between tests.

Cheers! 👋

[2020-11-03 16:20] Benoit-Vasseur opened #167 "Typescript error on render with a defineComponent (v6.0)"
**Describe the bug** A clear and concise description of what the bug is.

Try to call `render()` on a component define with `defineComponent({...})`.
This error is reported by typescript :
[code]

**To Reproduce** Steps to reproduce the behavior:

- Create a project from the vue-cli ( typescript + unit test with jest)
- convert the generate test to :

[code]

**Expected behavior**

No TS error

**

[2020-11-03 16:34] afontcu commented on #167
Hi!

Looks like you're using Vue 3! As stated [in the prerelease](https://github.com/testing-library/vue-testing-library/releases/tag/v6.0.0), there's no router support yet. Also types are not updated yet to match the new `render()` function. I plan on doing so after porting types back from DefinitelyTyped (here is [the PR to port them back to VTL for Vue 2](https://github.com/testing-library/vue-

[2020-11-03 17:20] Benoit-Vasseur commented on #167
@afontcu Thanks for your quick reply :).

Concerning the router, i did a test, it is the best experience (ts-ignore + router.ready()) but it seems to work :
[code]

[2020-11-03 21:45] afontcu commented on #167
This conversation might help! https://github.com/vuejs/vue-test-utils-next/issues/152

As soon as we find the best way to deal with vue router in vue test utils, I'll make sure it become available here, too :)

[2020-11-03 21:45] afontcu commented on #167
It is great, though, that our `findByXXX` helps us overcome a lot of limitations when it comes to async navigation 🎉

[2020-11-06 22:01] w3bdesign opened #168 "Can't install. Error with Chalk?"
**Describe the bug** A clear and concise description of what the bug is.

Trying to install the project on a project with the latest version of Nuxt, and I get the following error message:

`
npm ERR! enoent ENOENT: no such file or directory, rename 'F:\JOBB12\vue-todo\node_modules\@testing-library\dom\node_modules\chalk' -> 'F:\JOBB12\vue-todo\node_modules\@testing-library\dom\node_modules\.chalk

[2020-11-06 22:03] w3bdesign commented on #168
Here is the content of my package.json:

`
{
  "name": "nuxt-todo",
  "version": "1.0.5",
  "private": true,
  "scripts": {
    "dev": "nuxt-ts",
    "build": "nuxt-ts build",
    "start": "nuxt-ts start",
    "generate": "nuxt-ts generate",
    "lint:js": "eslint --ext .js,.vue --ignore-path .gitignore . --fix",
    "lint": "npm run lint:js",
    "test": "jest"
  },
  "dependencies": {
    "@nuxt

[2020-11-06 22:05] w3bdesign commented on #168
Managed to get it to work now after trying 3 times. Any idea what caused it?

[2020-11-06 22:43] #168 closed

[2020-11-10 20:40] jskogelin opened #169 "Testing emit from $root"
Any recommendations on testing functionality that depends on listening to events emitted via `$root.$emit`? Like you would via `wrapper.vm.$root.$emit` for example using `vue-test-utils`. Haven't been able to find anything in the docs.

Thanks for a great library!

[2020-11-10 21:54] afontcu commented on #169
Hi! Can you share a component/test example?

[2020-11-11 08:12] jskogelin commented on #169
Sure! The `created` hook of the component I would like to test looks something like this:
[code]
Template of `ComponentToTest`
[code]

Then, in my test
[code]

[2020-11-11 08:16] afontcu commented on #169
Hi! Vue Testing Library offers a third parameter which gives you access to the vue instance (https://github.com/testing-library/vue-testing-library/blob/master/src/vue-testing-library.js#L51-L53):

[code]

maybe you can leverage it to trigger the event? let me know how it goes!

[2020-11-11 10:12] jskogelin commented on #169
Been digging through the instance and haven't been able to find anything that helps me trigger the event unfortunately.

I've also attempted to mock `$root` by setting it to a Vue instance i have access to, but no luck.

[2020-11-11 10:23] jskogelin commented on #169
Let me know if this is a feature the library needs and I'll send in a PR!

[2020-11-12 14:27] jueinin commented on #169
need to get the vue instance object too! in some special environmens, I need to mock some methods on vm

[2020-11-14 08:16] lmiller1990 commented on #169
Can you just wrap the component?

[code]

Now you can do `mount(Wrapper)` and since `Wrapper` is the `$root`, you should be able to do see the emitted events on it. Note: I have not tried this and it might not work at all.

I also noticed `$on` no longer exists in Vue 3, you might want to keep this in mind.

[2020-11-16 11:06] jskogelin commented on #169
Thank you! Can't believe I didn't think of this sooner. This was my solution:

[code]

Thanks for the heads up!

[2020-11-16 11:06] #169 closed

[2020-11-18 02:00] JeromeDeLeon commented on #83
Should it trigger a warning for the input file?

[2020-11-18 08:33] ChamNouki commented on #83
since issue occurred with input file too, it seems logic to me to trigger warning on input file too ?

[2020-11-20 23:10] afontcu opened #176 "Support for Vue 3"
I'll use this issue to keep track of all efforts to support Vue 3 in the next major version of Vue Testing Library.

---

Support for Vue 3 is released in `next` channel:

https://github.com/testing-library/vue-testing-library/tree/next

Install it by running `npm install --save-dev @testing-library/vue@next`.

---

## BREAKING CHANGES

* Snapshots are potentially different due to whitespaces.
* S

[2020-11-20 23:13] afontcu commented on #83
Hi! I'm not entirely sure what's the suggestion with input file – can't you simulate a file uploading using `fireEvent.update()`?

[2020-11-20 23:14] afontcu commented on #83
Since this was released in #166, I'll go ahead and close this issue, feel free to open up a new one if we're missing some warnings!

thank you all!

[2020-11-20 23:14] #83 closed

[2020-11-21 01:31] JeromeDeLeon opened #177 "Can't use `fireEvent.update` on input file"
**Describe the bug** A clear and concise description of what the bug is.

Since the arrival of `fireEvent.update` and `warning` we are somehow forced to update the test to use it, but the problem is that it doesn't have support for input file making our tests fail when trying to use that new API but getting a warning when using `input` or `change` event type.

**To Reproduce** Steps to reproduce t

[2020-11-21 04:58] kinoli opened #178 "Can't use fireEvent.update on a standard input field with Vuelidate"
I'm not sure if this is vuelidate related or not but fireEvent.update doesn't seem to work on a standard input field. I can fix it by updating vue-testing-library.js to change the fireEvent.input to fireEvent.change

Such as on line 247.

[code]

to

[code]
The above change fixes the issue. Any chance we can use change instead of input. Perhaps there's a bug with the input function.

[2020-11-21 06:17] kinoli commented on #178
Note, the input changes as expected when I use the fireEvent.change method instead of fireEvent.input or fireEvent.update. However, I get the console warning when using fireEvent.change, so I can't use that anymore.

[2020-11-21 09:20] afontcu commented on #178
Hi! Can you provide a failing test?

[2020-11-21 09:21] afontcu commented on #177
Hi! Can you provide a failing test?

[2020-11-21 13:09] JeromeDeLeon commented on #178
I don't think all components listen to onChange though not at least for the default `v-model (value/input)` case. While some expect to just `input` and some use `change`. If we emit them both, there will be a chance to introduce a bug where some people separate logic from `input` and `change` and that they only want to emit one event and not the other.

[2020-11-21 13:09] JeromeDeLeon commented on #178
I believe we could omit or at least have the ability to turn off the warning.

[2020-11-22 05:39] kinoli commented on #178
yes that would be a welcome ability, to turn off the warning.

[2020-11-22 08:42] afontcu commented on #178
The logic of input/change seems fine and aligned to what Vue Test Utils do and Vue components do, too. As Jerome mentions, we can't emit them both without introducing unexpected behaviors

That sounds reasonable, because actually nothing stops people to use `fireEvent.change` (it's just a warning, not that the method is gone or something). Fancy to open up a PR? 🙌

[2020-11-22 10:31] afontcu commented on #167
#180 should fix this

[2020-11-22 17:51] afontcu commented on #178
#181 introduced the ability to mute the warnings

I'll go ahead and close this one, as the changing the fired event on input/change is not desirable.

Thank you all!

[2020-11-22 17:51] #178 closed

[2020-11-23 10:44] msmsimondean commented on #92
Here's what I've used:

[code]

[2020-11-23 22:45] kinoli commented on #178
So, I discovered the cause of why fireEvent.input doesn't work for me. I'm using `v-model.lazy`. Does anyone know if there is a workaround. It prevents `fireEvent.update` and `fireEvent.input` from working.

[2020-11-23 23:08] kinoli commented on #178
You can test this by adding `v-model.lazy` on line 6 of Form.vue. It will make the test fail.

[2020-11-24 00:45] kinoli commented on #178
This Pull Request will fix the lazy modifier issue. https://github.com/testing-library/vue-testing-library/pull/183

[2020-11-24 04:44] ryotah opened #184 "Module '"../node_modules/@testing-library/vue/types"' has no exported member 'cleanup'.ts(2305)"
**Describe the bug**

`cleanup` function doesn't exist in [`types/index.d.ts`](https://github.com/testing-library/vue-testing-library/blob/v5.5.0/types/index.d.ts) now, so we cannot load `cleanup` function from TypeScript files.

Probably we need to add `export function cleanup(): void;` like [`DefinitelyTyped/types/testing-library__vue/index.d.ts`](https://github.com/DefinitelyTyped/DefinitelyTyp

[2020-11-24 08:11] afontcu commented on #184
yep, that's true! Fancy to open up a PR? :)

[2020-11-24 13:34] ITenthusiasm commented on #158
@davidchai717 Is the example code you provided (`render(component, { state: { foo: true }, modules: {...} })`) literally what's in your code base right now? If it is, you're missing the `store` property in the object scheme. It would be easier if you wrote something like

[code]

But if that isn't your issue then as afontcu said, a code snippet would be really helpful in getting to the bottom of t

[2020-11-24 13:40] MatanBobi commented on #184
@afontcu I can take care of this one in https://github.com/testing-library/vue-testing-library/pull/185 also if you want..

[2020-11-24 14:07] afontcu commented on #177
Fixed in #179

[2020-11-24 14:07] #177 closed

[2020-11-25 07:17] #184 closed

[2020-11-28 08:27] sapagat opened #187 "Vue testing library depends on vuex and vue-router types"
Hi there! For my surprise importing the `@testing-library/vue` module raises a compilation error due to a dependency with `vue-router` and `vuex`.

[code]

I've tried installing both dependencies and test pass, but I believe it shouldn't be mandatory in order to run tests, right?

Notice: I'm not using Jest. I'm running tests with Mocha.

[2020-11-28 12:20] afontcu commented on #187
Hi! Yes it does, because VTL accepts a `routes` and `store` objects, which autoloads Router and Vuex: https://github.com/testing-library/vue-testing-library/blob/master/src/vue-testing-library.js#L36-L49

I once thought that they should be listed as peerDeps, but since they are only required if these keys are there… 

[2020-12-03 08:37] afontcu commented on #167
This should be fixed in `next` now! It'd be great if you could give it a go and report any other issues :)

Thanks!

[2020-12-03 08:37] #167 closed

[2020-12-03 22:48] sapagat commented on #187
I've double checked and no `routes` nor `store` are passed to the render method. It may be a webpack issue that detects the packages being required?

I've bypassed the issue by requiring both packages in order to use VTL. I believe it should be optional, and currently it isn't. Don't know how to solve it... =(

[2020-12-04 07:08] afontcu commented on #187
Hm, can you share the test that makes both deps fail?

[2020-12-04 11:39] iandevlin opened #190 "Problems with Vue and TypeScript"
Please provide some detailed documentation on how one can set this up to work with TypeScript.
The current documentation says that "Vue Testing Library does not require any configuration to be used." but this does not appear to be the case.

At the moment no matter what I try (even examples that exist in your documentation) TypeScript constantly complains about `TS2339: Property X does not exist o

[2020-12-04 11:59] afontcu commented on #190
Hi!

Looks like the issue is related to `jest-dom`, not Vue Testing Library. As stated in [their docs](https://github.com/testing-library/jest-dom#usage), there's no additional config to work with TS other than load jset-dom from a `.ts` file. Can you double check this is the case?

Thanks

[2020-12-04 12:06] iandevlin commented on #190
Hello!
Well crap, I apologise for posting here if it's clearly the wrong place.
And yes, I have done what they say there, but to no avail.
I will annoy them about it now, my apologies again and thanks for the help regardless!

[2020-12-04 12:06] #190 closed

[2020-12-04 12:20] afontcu commented on #190
No prob! Thanks :)

[2020-12-11 22:17] aldarund commented on #92
There should a way to call vm methods in testing-library to properly work with nuxt or it should have something like nuxt option that will call fetch automatically like created

[2020-12-12 12:32] afontcu commented on #92
Hi! Thanks for your input

I don't think this is likely to happen, as it might lead to tests that rely on implementation details.

This is interesting and worth exploring! Do you have an idea about what the API should look like?

[2020-12-13 22:58] heywhy opened #193 "[Vue 3 Support] Incorrect type definitions in latest release"
**Describe the bug** A clear and concise description of what the bug is.

The included type definition (`types/index.d.ts`) for Vue 3 support is missing the **routes** property in the render options, this fails because the tests are written in a **.ts** file.

**To Reproduce**

* Install `@testing-library/vue@next` and confirm the content of the **node_modules/@testing-library/vue/types/index.d.ts

[2020-12-13 23:06] afontcu commented on #193
Hi! This commit https://github.com/testing-library/vue-testing-library/commit/05275b91e801e11c3ee294d31ac43ac634021ca2 should've issued a release with proper types, but looks like CI failed due to some caching issue. Let me see if I can get it working now.

[2020-12-13 23:17] afontcu commented on #193
okay, fixed! 6.3.1 should come now with right types for Router :) https://github.com/testing-library/vue-testing-library/releases/tag/v6.3.1

Closing this up, feel free to open up a new issue if something comes up!

Thanks 🚀

[2020-12-13 23:17] #193 closed

[2020-12-15 13:28] afontcu commented on #158
Closing as we fixed the issue in Discord :) Turns out lodash' `merge` mutates original source, so the store object was leaking between tests.

[2020-12-15 13:28] #158 closed

[2020-12-15 18:42] aldarund commented on #92
@afontcu there basically two hooks that is executed and needed.
fetch and asyncData https://nuxtjs.org/docs/2.x/features/data-fetching

[2020-12-16 08:50] afontcu commented on #92
What could the API look like?

[code]

where `fetcth` and `asyncData` are functions that we run appropriately?

[2020-12-17 00:24] aldarund commented on #92
what for pass them ? I mean its look like more what i offered as first option e.g. to call vm method manually but via different syntax.
What i mean by automatic nuxt support is that render should just call fetch automatically if it exist on component and same for asyncData, but for asyncData it should also merge returned result into component data.

[2020-12-17 10:31] afontcu commented on #92
Oh right, I see, forget my last post. I have some doubts (does it mean `render` is going to return a Promise?), but I'm willing to add this to the library. Would you like to open a PR? 🙌

[2020-12-20 17:57] lbavendanos opened #195 "VTL for Vue 3: The routes option does not work correctly"
**Describe the bug**
When using the routes option of the render function, it throws up some warnings that have to do with the _history property and the asynchronic handling that vue router 4 has. This causes you to not be able to use the routes option correctly.

**To Reproduce**
[code]
This throws the following warning
[code]
The warning is known. This is explained in the vue-test-utils v2 docume

[2020-12-20 20:05] afontcu commented on #195
Hi, thanks for the report!

We're already setting up a router with `createWebHistory`. Looks like we could simply add

[code]

after [this line](https://github.com/testing-library/vue-testing-library/blob/next/src/index.js#L41) and your first test would pass, but that would make `render` async, which is undesirable.

A potential solution is to expose `router.isReady`, so users could wait for it an

[2020-12-20 23:21] lmiller1990 commented on #195
This is pretty much what I've been doing so far - `await router.isReady()`.

I am not sure of a more ergonomic way of handling this :thinking: docs? Or can we do this internally somewhere?

[2020-12-21 07:54] afontcu commented on #195
This was my first approach, but this would make `render` async, and I'd like to avoid that. Is there any workaround here? I don't think so 🤔

Maybe adding a `isRouterReady` key isn't that bad, given that we have types and autocompletion and it will be limited to tests involving a router.

[2020-12-21 08:09] lmiller1990 commented on #195
If we don't want `render` to be `async` then we will not be able to do this for the user. I suppose we just expose a method and document it well.

Maybe we should just expose the entire router - that seems useful. Eg:

[code]

Although this may not fit with the VTL philosophy.  I think this idea (expose some kind of router key) is probably the way to go.

[2020-12-21 18:48] calebbergman opened #196 "Navigation failure for dynamic route"
**Describe the bug**
Navigation fails to occur when attempting to navigate to a dynamic route.

This issue may be related to [Issue 130](https://github.com/testing-library/vue-testing-library/issues/130), the difference here being I'm not trying to set the initial route, but trying to perform the route navigation by clicking a link present on the page.

**To Reproduce** Steps to reproduce the beha

[2020-12-28 16:43] Thaval commented on #169
@jskogelin Why do you use "it", shouldn't you use "test" with this vue testing library? Seems like you use another library called "vue-test-utils" which is the low-level api of this library. Correct me if I'm wrong...

However, I'm facing the same problem. My component initializes its data by listening on an event. How can I initialize my data from within a test?

Within the created function:
[cod

[2020-12-30 20:08] afontcu commented on #195
Gave it a go. I'm not 100% sold on the idea of exposing the whole router, mostly because, as you mentioned, is something one should not expect from Testing Lib. However we still need to wait for router to be ready… so I see two valid alternatives:

1) Expose a `isRouterReady` helper (https://github.com/testing-library/vue-testing-library/issues/195#issuecomment-748664373).

2) Detect if people is

[2020-12-31 04:22] lmiller1990 commented on #195
I think the first one is probably the lesser of the two evils. I have not written many router tests with VTL yet, though, so I am not sure how this actually works out in practice.

Either way, we are leaking implementation details into the test, but I can't see any way around this. I wonder if any of the other integrations have this problem (I don't think React Router is async, but surely some oth

[2020-12-31 07:45] afontcu commented on #195
Yeah, I'll take a look, but I think VTL is a bit special here because we offer built-in support for external libraries (Vuex, Router), and others don't. That being said, I'll take a look at other implementations and see what they came up with

[2021-01-03 17:25] afontcu commented on #196
Hi! Since the navigation now requires the component to load dynamically, you need to wait until the change has indeed happened. Following is a passing test:

[code]

[2021-01-04 21:18] calebbergman commented on #196
Hey! 😄

That definitely makes sense and fixes the problem in my contrived demo.

I originally had run across this issue in production code. Coming back to it after having some vacation time, I think I discovered my issue was compounded by a couple of other mistakes of mine:

1. I was silly and forgot to assign a `component` to the route altogether that I was testing 🤦‍♂️
2. I was attempting to tes

[2021-01-04 21:31] #196 closed

[2021-01-04 23:10] calebbergman commented on #196
While moving stuff around in my production tests I realized I had written `const router = new VueRouter(routes)` instead of `const router = new VueRouter({ routes })`, wrapping `routes` in an options object (－‸ლ)  Rending the route components works great now, go figure 😅

[2021-01-05 07:19] afontcu commented on #196
Vacation time does always help! 😄 Glad to hear you worked it out.

[2021-01-06 16:38] ITenthusiasm commented on #195
I see `router.isReady` primarily being a concern here. But is it safe to assume that refers only to the initialization? If so, users would still have the problem of performing `await`s while clicking links according to the [beta docs](https://vue-test-utils.vuejs.org/v2/guide/vue-router.html#with-a-real-router). And we're just getting started there. There's also the possibility that maybe certain

[2021-01-06 16:45] ITenthusiasm commented on #195
Would it make sense to have a guide where people could create mocks with the different testing frameworks they're using? Or for VTU to export a mock sync router? I'm not sure how strange that would be. And I'm guessing there's a chance some people may want to verify URL changes still. :thinking:

[2021-01-06 22:08] lmiller1990 commented on #195
Yes, everything about router is now async so this likely will be a problem in a few different respects. I have not written many tests w/ Vue 3 + new Router + testing lib to get a full idea yet.

There is a new project for mocking the router: https://github.com/posva/vue-router-mock but I don't know this will be ideal all situations, and I am also not sure it fits the testing library philosophy.

[2021-01-07 10:55] afontcu commented on #195
Yeah… with Vue 3, all route handling in tests will be async because router is async. So here in VTL we'll need to use  `waitFor` or `findByXXXX`. I guess we will need to add more examples and docs, but that's how it's gonna be (it is not that bad, to be honest).

That being said, we remain with this issue: how do we wait for the initial router render?

[2021-01-07 12:02] afontcu commented on #195
I wonder if [asyncWrapper](https://github.com/testing-library/dom-testing-library/blob/accb6cc60628cb6b5bd4d9be2ead41724995e5ae/src/config.ts#L15-L22) could help us somehow

[2021-01-07 13:51] ITenthusiasm commented on #195
Yeah. In terms of the options presented earlier, I think I'd probably prefer the conditionally async `render`. Although it feels a bit weird, it reduces boilerplate (slightly) and potentially reduces the number of things the user can forget. Either way, the user is going to have to `await` something and be told why that await is necessary unlike in other libraries (at least with those two options)

[2021-01-07 13:53] ITenthusiasm commented on #195
And with the mock router, I guess XTL philosophy could be a problem. I assume the preference would be to use the real router where possible, but that brings things back to square one.

[2021-01-07 15:50] afontcu commented on #195
Another option is to simply accept  `router` object on `render` (instead of current `routes`), and do not perform any kind of integration other than pushing it to plugins array.

This would make router handling available to users, but then we'd introduce an imbalance between Router and Vuex.

It goes without saying that this would be a breaking change from VTL for Vue 2

[2021-01-07 22:45] lmiller1990 commented on #195
If the only real problem is the isReady call (eg, use waitFor should solve most other problems) we could think about perhaps adding some special sync behavior to vue-router that is behind a `process.env.development` flag just for testing. Not sure how practical this is but just throwing it out there.

[2021-01-08 06:20] mammadataei opened #197 "Unexpected parameter format for rerender() - v6 (next)"
Hi,
The rerender function's signature on v6 is:
[code]
But this is how it works:
[code]
I think the `props` key is redundant and misleading here and it needs to be something like:
[code]

[2021-01-08 07:40] afontcu commented on #197
Hey! Yeah, I agree that it looks weird and that `rerender({ error: false })` makes more sense.

However, at some point we might need to add other keys (we're "rerendering", after all, not only setting new props), which would then mean introducing a breaking change.

That being said, `rerender` should not be used that much (people should rather write a new test), so I guess it's OK only letting pro

[2021-01-08 07:45] afontcu commented on #195
Yeah, I guess that would fix the issue (here and in VTU), but then we'd be testing different behavior than the one in production… which might lead to false positives/negatives, and a decrease in confidence. Not sure it is worth the cost.

[2021-01-08 08:36] afontcu commented on #197
I wonder if we could cleanup (no pun intended) the `rerender` function a bit:

[code]

this would allow us to simply pass all options (props and whatnot)

[code]

Then, setting `{ props }` would make sense, becuse it is the same API as when you render the component initially

[2021-01-08 09:14] cuixiaorui opened #198 "about rerender api design"
Hi, I'm a little confused when using the rerender API

I wanted to update props, but then I realized that in the next release, I needed to call rerender api

However, I looked at the implementation of rerender and saw that the component instance was re-destroyed and then re-created

But my test requirement is to simulate that the user only updated props

For example, I did this earlier by calling

[2021-01-08 09:34] afontcu commented on #198
Hi! Thanks for your message.

Yep, you're right, I overlooked this bit: https://github.com/testing-library/vue-testing-library/pull/173/files#diff-25bf86bba97788343267cf1a217702b4825b65b411e7697b0daa7576a5eb79ecR23-R25

`instance-id` should be `1`.

That being said:

Moving from Vue 2 support to Vue 3 might yield different behaviors, so consistency is not assured. I understand you want a consisten

[2021-01-08 09:40] afontcu commented on #198
Any help is appreciated, by the way!

[2021-01-08 10:27] cuixiaorui commented on #198
感谢你的回复哈

我在 master 版本上找到了一个 updateProps 的api

从代码意图上来讲，updateProps 是个很好的 api

当初是因为什么原因把它移除了呢？

rerender 一个合理的设计方案可能是

保留之前的 wrapper 实例对象，只做更新操作

当然，从代码实现上来讲，销毁之后再创建是使代码实现变的更简单了

你对 rereader 合理的行为怎么看？

Thanks for your reply

I found an API for updateProps on the master version

updateprops is a nice API from a code intent point of view

What was the reason for its removal?

A reasonable design sce

[2021-01-08 10:30] afontcu commented on #198
Yep. I think we should:

1) Go back to the original behavior of setProps/rerender.
2) Find out if there's a way to keep the previous wrapper instance and update it, so it does not only update props, but any other information we pass down to the component.

That being said, (2) should not be that common because people should really just render the component again manually.

We changed names to alig

[2021-01-08 10:57] #197 closed

[2021-01-08 11:00] cuixiaorui commented on #198
啊哦，我明白了。原来是为了保持接口一致呀

如果 rerender 只拥有修改 props 的行为那么我们只需要内部调用 wrapper.setProps 即可

正如你说的，第二点不常用但是也是需要考虑的（这是 rerender 从命名上带来的复杂性，人们会用它来更新别的属性）

我不知道别的 testing library 的 render 行为是什么样子的

[2021-01-08 14:19] afontcu commented on #198
This is what React Testing Lib does:

https://github.com/testing-library/react-testing-library/blob/master/src/pure.js#L81-L82
https://github.com/testing-library/react-testing-library/blob/master/src/__tests__/rerender.js

they pass the whole component (with JSX)

[2021-01-08 14:49] afontcu commented on #198
(btw, I removed the `bug` label as now rerender what does it says on #176. However I leave the issue open to see if we find a better way to perform the rerendering operation)

[2021-01-08 19:27] ITenthusiasm commented on #195
If the users supplied the router, I guess the store could also be supplied in order to make things consistent. Creating a Vuex store is pretty simple, so there wouldn't be a significant difference in what people are already doing to setup smaller/fake stores or use their real ones.

[2021-01-09 00:48] lmiller1990 commented on #195
I thought about my previous comment, it's a bad idea, actually. We did something similar for Vue 2 ("sync mode") and it had a lot of knock on effects where tests vs the real thing were different. We had both "sync mode" for test utils *and* something in Vue core.

[2021-01-11 09:40] jellymann opened #201 "Error: Cannot find module 'node_modules/@testing-library/vue/compatibility-scripts/vue-apollo-patch.js'"
**Describe the bug**

Getting the following error when installing the package:

[code]

**To Reproduce**

[code]

**Expected behavior**

Package installs with no errors.

**Related information:**

- `@testing-library/vue` version: 6.3.3
- `Vue` version: N/A
- `node` version: v14.4.0
- `yarn` version: 1.22.10

[2021-01-11 09:43] afontcu commented on #201
Hi! Thanks for the report. I believe it is due this line: https://github.com/testing-library/vue-testing-library/blob/next/package.json#L15

changing it from `postinstall` to another sensible key (we only need this file when developing and before running tests) would fix it. I'll look into it today.

[2021-01-11 09:51] afontcu commented on #201
Okay, it was simple. Got it fixed on [6.3.4](https://github.com/testing-library/vue-testing-library/releases/tag/v6.3.4) 😄  updating VTL will work as expected.

Thank you!

[2021-01-11 09:51] #201 closed

[2021-01-13 08:14] khukhunaishvili opened #202 "Error message: Prototype method is not a function"
I have a Vue cli project and for testing using Vue testing library & Jest dom.

Iv a method on Vue prototype which works fine in component.

While trying to test that component, i get this message - "TypeError: this.$getRouteQuery is not a function"

How can i fix it?

[2021-01-13 08:20] afontcu commented on #202
Hi! Can you share an example of the component and the test, and some information about the Vue Testing Lib version?

If `$getRouteQuery` is a custom method provided by a plugin or similar you might need to install that plugin when rendering the component, too.

[2021-01-13 08:30] SangilYun commented on #15
The link doesn't seem to work anymore :(
This code seems to do the trick
https://github.com/testing-library/vue-testing-library/blob/2312e180b12df3c599e8aa8a0ee85dcff7b108e7/src/__tests__/vue-router.js#L29

[2021-01-13 09:00] khukhunaishvili commented on #202
@afontcu

package.json

[code]

component:

[code]
faq.specs.js
[code]

I have also tried to registering my method as i did it in main.js, but it gives me bunch of different errors.
[code]

[2021-01-13 09:03] afontcu commented on #202
Not sure where `$getRouteQuery` comes from, but assuming "MyPlugin" provides it…:

[code]

[2021-01-13 10:15] khukhunaishvili commented on #202
Yes, `$getRouteQuery` is defined in MyPlugin.

Thank you, it is working.

[2021-01-13 10:16] #202 closed

[2021-01-16 09:44] afontcu commented on #195
Going back to this. As I see it, we're down to two options:

1) Make `render` async when `routes` is present, and then call `router.isReady()` internally. API change: you'd need to `await render(Comp, { routes })`, but not when routes is not there. We could warn users somehow (plus, TS types would help, too).

2) Remove vuex/router integration for Vue 3, and leave it to users. This would make user

[2021-01-19 14:31] ITenthusiasm commented on #195
Yeah I'm a little torn on it. I think I'd be fine with either of those two options.

Definitely keeps life simple... in a sense. Having to occasionally `await` could be weird. And it would probably be new amidst the other testing libraries -- at least for right now. But overall, the user experience wouldn't change too much, I think. People would still have a lot done for them and would still have

[2021-01-29 10:34] JoeSchr opened #204 "Quick question: Does this support <script lang="ts">?"
If yes, do I need to install an additional compiler or bundler for that? I'm using Nuxt, just for completeness sake

[2021-01-29 10:43] afontcu commented on #204
Hi,

Vue Testing Lib is only a wrapper on top of Vue Test Utils – that is, it leverages whatever testing config you use. If your setup allows you to parse&test TS-based components (that is, using vue-jest and ts-jest and whatnot), then Vue Testing Library should work just fine 👍

[2021-01-29 10:44] JoeSchr commented on #204
Thank you!
On Fri, 29 Jan 2021 11:43:57 +0100, "Adrià Fontcuberta"
<notifications@github.com> said:

[2021-02-06 11:33] #204 closed

[2021-02-07 10:47] afontcu opened #205 "[RFC] Remove custom router/vuex management for Vue 3"
* Target Major Version: 6.x (VTL version for Vue 3)

# Summary

Remove custom integrations for Vue Router and Vuex, and leave it to users to configure them as they'd do with any other plugin.

Currently, VTL for Vue 3 offers basic support for Router and Vuex, similar to VTL for Vue 2. It requires router/vuex library if the appropriate render option is provided, creates the plugin and adds it to `g

[2021-02-07 10:51] afontcu commented on #195
Just wrote an RFC with a proposal to fix this issue. In short: remove integration with Router/Vuex, leave plugin management to users, and make the library more similar to other Testing Lib flavors.

https://github.com/testing-library/vue-testing-library/issues/205

any feedback is more than appreciated 🙌

[2021-02-07 21:48] ITenthusiasm commented on #205
Yeah I think the idea should work out fine. It's a bit unfortunate that it'll be such a significant change. But the bright side is that `render` will get to stay synchronous. As you mentioned, the external setup already exists for other plugins and other libraries.

It's significantly more comforting though to know that the `global.plugins` property can be taken advantage of, though. On that note,

[2021-02-08 08:10] afontcu commented on #205
thanks for your thoughts 👍

People might need to set up a variety of global stuff – plugins, directives, components, mixins, and whatnot. This is why we decided to add a `global` key [with several options](https://next.vue-test-utils.vuejs.org/v2/api/) that grouped everything that's global to the Vue app used to render the component

[2021-02-09 18:36] agualis commented on #205
I agree about leaving the wrapper as thin as possible, leaving the responsibility to the end user as it is really simple to create a custom wrapper including your own setup with vuex, router and any other plugin that you would normally need in most of the projects.

Breaking compatibilty is not ideal but showing the warning and documenting how to migrate/create your own `custom render` with vuex/r

[2021-02-10 09:09] lmiller1990 commented on #205
Seems like a good compromise to me!

[2021-02-10 13:20] ITenthusiasm commented on #198
Been so caught up with work that I missed this too. lol.

So for clarity (and people are free to disagree with me on this), I intentionally wrote the `rerender` function the way I did based on what I understood (or thought I understood) about React Testing Library and the other libraries in the TL family. To me, it wasn't simply renaming `setProps` to `rerender`, but it was actually causing a rere

[2021-02-10 14:15] afontcu commented on #198
Thanks for getting back to this! I'll reread the whole thing to see what we can come up with 👍

However, re this

This is the test that made me rollback changes in our `rerender`: https://testing-library.com/docs/example-update-props. Notice how the component instance doesn't change, so their definition of "rerendering" is that it updates the existing component instance rather than removing and mo

[2021-02-10 14:26] ITenthusiasm commented on #198
Didn't see this. That's actually super helpful in understanding what's going on, so thanks a ton for pointing that out. I'll have to rethink how I think about `rerender` then. Maybe I don't fully grasp what the function is doing in RTL yet. More fun stuff to think about!

[2021-02-10 15:42] savannahp commented on #176
When I install this, it says"
Vue packages version mismatch:

    - vue@3.0.5 (C:\Users\xxxx\projects\xxx\node_modules\vue\index.js)
    - vue-template-compiler@2.6.12 (C:\Users\xxxx\projects\xxxx\node_modules\vue-template-compiler\package.json)

It does this every time and I've tried about 5 different ways for this library.  @afontcu

[2021-02-10 16:05] afontcu commented on #176
Hi!

Looks like you are installing `vue-template-compiler` and not `@vue/compiler-sfc`

See the peerDeps here: https://github.com/testing-library/vue-testing-library/blob/next/package.json#L84-L87

[2021-02-10 16:16] savannahp commented on #176
@afontcu The testing library says that vue-template-compiler is a required peer dependency. If I uninstall it, it says that its missing and is needed. I already have @vue/compiler-sfc 3.0.5

[2021-02-10 16:19] afontcu commented on #176
Are you installing `@testing-library/vue@next`? vue-template-compiler is not required there

[2021-02-10 16:22] savannahp commented on #176
@afontcu  yes I am!

[2021-02-10 16:24] afontcu commented on #176
Can you share a reproduction link then please? As pointed in link above, `next` version (it should install 6.X.X) is not requiring `vue-template-compiler` as a peerDep, so something else should be going on.

[2021-02-10 16:39] savannahp commented on #176
I see, here is my link @afontcu  [](https://gist.github.com/savannahp/3ac3e009077a174764b6e9fea096b65a)

[2021-02-10 20:29] savannahp commented on #176
Another tid bit, I have it running now after I updated Vue Jest. The router examples, don't work with the Vue 3 recommended vue router version ^4.0.3, I noticed you guys are on the older one which doesn't work with Vue 3 either. It will most likely give you a TypeError: removeHistoryListener is not a function

[2021-02-11 08:18] afontcu commented on #176
Hm, just ran the test suite with Router 4.0.3 and everything seems to work fine (on `next` branch) 🤔

[2021-02-11 17:35] afontcu commented on #205
Here's an implementation of the RFC – https://github.com/testing-library/vue-testing-library/pull/206

[2021-02-12 20:40] ITenthusiasm commented on #205
Hey just a heads up, it seems the links for the docs that you used in your original post don't work anymore. It might be good to update them in case anyone else comes along and wants to read.

[2021-02-12 22:28] lmiller1990 commented on #205
Updated the links, thanks

[2021-02-14 02:47] hxgqh opened #208 "fireEvent click on disabled button fired"
[code]

[code]

[2021-02-14 10:23] afontcu commented on #208
Hi,

Just ran it locally and it passes, as expected. Maybe your test is failing due to something else?

[2021-02-17 13:36] codfish commented on #205
FWIW, I don't see this as a "Drawback" and not sure the Alternative is good. I landed here because I was going to see if it was possible to pass our own router and store in instead of plain objects. The whole concept behind TL is to test your app as a user would use it, so not being able to actually render with the exact router and store that we're using in the app is actually a drawback IMO. So I

[2021-02-17 19:35] afontcu commented on #205
The RFC has received several positive comments and no hard pushbacks. I'll let it and the [PR](#206) open for another week and then merge it 😃

[2021-02-18 13:02] maxarndt opened #210 "Broken test isolation of VueRouter instances"
**Describe the bug** A clear and concise description of what the bug is.

`VueRouter` instances are not erased properly after completing a test case.

**To Reproduce** Steps to reproduce the behavior:

[code]

**Expected behavior**

All tests should pass.

**Screenshots**

[code]

**Related information:**

- `@testing-library/vue` version: HEAD at 7bef579
- `Vue` version: `"vue": "^2.6.12"`
- `nod

[2021-02-18 13:18] ph-fritsche commented on #210
What I've found out so far:

`render` creates a [`new VueRouter`](https://github.com/testing-library/vue-testing-library/blob/7bef579d7bb041fd67290cb0aaef619b3e8b525d/src/render.js#L42).
If you inspect the `currentRoute` on that VueRouter it is `/` as expected. If you push a route onto it, everything behaves as expected.
It seems [`localVue`](https://github.com/testing-library/vue-testing-library/

[2021-02-22 13:56] afontcu commented on #210
Hi!

Yeah, this mostly looks like a bug on VTU' `localVue`… mind opening an issue there?

Thanks for this!

[2021-02-23 17:55] gmlewis commented on #176
I'm running into the same issue with Vue3 and `vue-router@4.0.3` but if I change line 2649 of `node_modules/dist/vue-router.cjs.js` from:

[code]

to:

[code]

then the problem goes away.

[2021-02-24 09:48] #205 closed

[2021-02-24 12:05] ITenthusiasm commented on #176
A heads up: The VTU docs link is broken here too. 😅

[2021-02-25 09:16] scambier commented on #176
For people who come here after way too much googling, and looking for a solution to this issue, the answer is in the comments of [the repro link](https://gist.github.com/savannahp/3ac3e009077a174764b6e9fea096b65a#gistcomment-3626950).

[2021-03-04 12:58] msmsimondean commented on #92
Here's what I've used for asyncData:

# test/nuxtMountUtils.js

[code]

# Example Usage
[code]

[2021-03-13 15:24] DanielPe05 opened #212 "Setting image src from dynamic import in computed property is not reflected when test is run."
**Describe the bug** A clear and concise description of what the bug is.
I'm not sure if this is an issue with testing lib itself or just how vue's template compiler works but posting here in case someone using testing-library has run into it. I appreciate the help!

I have a component that is binding a computed property to an image's src attr. The computed property conditionally imports different

[2021-03-14 13:05] afontcu commented on #212
Hi! Thanks for filling this in 🙌  This is unlikely to be related to testing library, but rather to node's support for dynamic imports. You might have some luck mocking the import statement using Jest.

Also, some sort of polling might help:

[code]

Closing since this does not look related to VTL :) Feel free to reopen if you come up with a situation where testing lib could help!

[2021-03-14 13:06] #212 closed

[2021-04-01 13:20] tirithen opened #215 "Test run logs [Vue warn] for Web Components used in project"
**Describe the bug** A clear and concise description of what the bug is.

Produces warnings during tests run about external Web Component dependencies.

[code]

All the tests still runs as usual and produces a valid result.

**To Reproduce** Steps to reproduce the behavior:

1. Add a Web Component to you project `npm install --save @spectrum-web-components/textfield`
2. Import the Web Component in

[2021-04-01 18:36] travis5491811 opened #216 "Rename test to match components for simple referencing"
Hello,
I came here through https://testing-library.com/docs/vue-testing-library/examples because I was trying to see how good this might be for use with `vue` or `nuxt`. There were only 2 examples on the page and neither used props and the docs said to look at the examples in the repo for more.

While looking at the examples in the repo, I started by exploring components in https://github.com/test

[2021-04-02 07:11] afontcu commented on #216
Hi! There's no reasoning other than examples, tests, and components have been evolving differently and without clear structure :)

Form your comment, I see two main quick wins:

1) Add some props to the main examples of testing-library.com. It is quite a common use case.
2) Improve naming, and make sure test files match Vue components. This won't be so easy, because some dummy components are used

[2021-04-02 16:39] travis5491811 commented on #216
@afontcu Yes, no problem. PR's added for 1 and 2.

[2021-04-08 11:37] vramdal commented on #176
This happens on unmount, if you haven't called `await router.isReady();`
See [the vue-router example](https://github.com/testing-library/vue-testing-library/blob/next/src/__tests__/vue-router.js#L74).

[2021-04-09 15:43] brianboyko commented on #210
Can you explain how to push a route on to the VueRouter created by render()?  I'm trying to test a component that gets a route parameter and it currently is not working.

[2021-04-10 06:25] brianboyko opened #218 "Cannot manually set route parameters on Vue-Testing-Library@next using useRoute()"
I'm not sure if this is a bug report or just incomplete documentation.

We're using Vue-Testing-Library @ next (as of 10 Apr 2021) and trying to test a component that uses useRoute() to get a route parameter, 'hash'. It's for our login page; specifically, the "ResetPassword.vue" component.

In this component, the user arrives to the page via a link they have recieved in their e-mail, (so there is

[2021-04-10 06:41] afontcu commented on #210
I assume something like:

[code]

[2021-04-10 07:04] afontcu commented on #218
Hi!

This won't work, as VTL for Vue 3 removed the callback parameter.

Even if not ideal, could you try if setting a mock works?

[code]

[2021-04-14 17:33] IpelaTech opened #219 "Issues with renderless components"
**Describe the bug**

When I try to test a renderless component, child components of the renderless component are not rendered.

**To Reproduce** Steps to reproduce the behavior:

- Create a renderless component (in my case, MapboxToken.vue)
- Create a component that imports the renderless component (Create.vue)
- Add markup in the renderless component slot (the header)
- Test Create.vue

**Expect

[2021-04-17 13:04] IpelaTech commented on #219
Apologies, I thought the library would load the component and any scoped slots but it works as documented if I send a string or use the create element function.

[2021-04-17 13:04] #219 closed

[2021-04-28 20:42] lukashambsch commented on #158
@afontcu What commit fixed this? Has it been released already? I'm seeing the same issue on 5.6.2 right now.

[2021-04-29 07:08] afontcu commented on #158
The fix was to avoid mutating the original store when using lodash `merge`, and create a new object instead. No fix in VTL was needed 😉

[2021-04-29 09:17] ericbednarz opened #222 "Vue-i18n example test does not exist and has a dead link"
**Describe the bug**

The project [README](https://github.com/testing-library/vue-testing-library#more-examples) contains a link to a vue-i18n example test that does not exist.

**To Reproduce**

Activate the link and observe a [404 resonse](https://github.com/testing-library/vue-testing-library/blob/master/src/__tests__/vue-i18n.js).

**Expected behavior**

There is either a resource or no link.

[2021-04-29 12:55] ericbednarz commented on #222
The same dead example link is also referenced in the documentation of the callback function parameter of the render function: https://testing-library.com/docs/vue-testing-library/api#callback-function

[2021-04-29 13:47] lukashambsch commented on #158
Ahh, I see. Thanks!

[2021-04-29 15:15] afontcu commented on #222
Hi! You're right, the correct link is https://github.com/testing-library/vue-testing-library/blob/master/src/__tests__/translations-vue-i18n.js

Fancy to open up a PR fixing either the filename or the links?

[2021-05-05 16:55] sand4rt opened #224 "VTL for Vue 3: expose the RenderOptions type"
I would like the RenderOptios type to be exposed so i can create a typed `DeepPartial<RenderOptios>` prop on my factory function. Example: [https://lmiller1990.github.io/vue-testing-handbook/components-with-props.html#refactor-with-a-factory-function](https://lmiller1990.github.io/vue-testing-handbook/components-with-props.html#refactor-with-a-factory-function
)

index.d.ts, line 45:
[code]

[2021-05-05 18:34] afontcu commented on #224
Hi! Sure, looks like a sensible request. Fancy to open up a PR?

[2021-05-05 19:50] sand4rt commented on #224
Awesome! Yeah sure i'll create a PR

[2021-05-05 20:02] sand4rt commented on #224
@afontcu I cant push my branch:

remote: Permission to testing-library/vue-testing-library.git denied to sand4rt.
fatal: unable to access 'https://github.com/testing-library/vue-testing-library.git/': The requested URL returned error: 403

[2021-05-05 20:07] afontcu commented on #224
Hi! you might need to fork the repo and submit a PR from repository to repository, instead of branch to branch

[2021-05-08 12:13] ericbednarz commented on #222
Sorry, I was busy. However, I just saw that https://testing-library.com/docs/vue-testing-library/api#callback-function links to a file including the translations- prefix. :-(

[2021-05-08 12:17] ericbednarz commented on #222
Right, hat was yesterday. https://github.com/testing-library/testing-library-docs/commit/376a8f2f5166b4a78a22215e7314aa8eb28c40d5

Removing the prefix seemed simpler (2 fixes with one change) and more consistent with other test file names. Gonna update the PR then.

[2021-05-08 16:48] #222 closed

[2021-05-08 18:03] afontcu commented on #216
Closing as this as names are already updated :)  thanks!

[2021-05-08 18:03] #216 closed

[2021-05-08 18:06] afontcu commented on #215
Hi! I have no experience with integrating vue and WC, so I'm not sure I could be of any help here. Just some basic questions: does this happen when using Vue Test Utils (not vue testing library!) alone?

[2021-05-08 18:06] afontcu commented on #208
Closing as this doesn't look like a library issue. Feel free to reopen if it's not the case! :)

[2021-05-08 18:06] #208 closed

[2021-05-08 18:06] #195 closed

[2021-05-09 05:48] #224 closed

[2021-05-10 00:03] lmiller1990 commented on #218
A bit late, but mocks will only work for values on the Vue prototype.

I'm finding [this library](https://github.com/posva/vue-router-mock) to be useful for testing with Vue Router.

[2021-05-14 11:31] sand4rt opened #228 "Vue 3: typed TestComponent on render function"
Proposal:

Change line 45 index.d.ts from:
[code]

To:
[code]

[2021-05-14 11:40] sand4rt opened #229 "Vue 3: testing async / suspense component"
Was struggling to test a async component because Vue expects a `<Suspense>` wrapper. Would it be good to document this some how?

Found [this issue in VTU](https://github.com/vuejs/vue-test-utils-next/issues/108) and created the same helper function for vue-testing-library:

[code]

[2021-05-14 12:19] #229 closed

[2021-05-14 13:00] sand4rt opened #230 "Vue 3: Async component with suspense wrapper"
Struggling to test a async component. I created a suspense wrapper component with `defineComponent` which i think should work but it doesn't:

[code]

[2021-05-16 13:34] MichaelDeBoey opened #231 "Drop Node 10 support"
Because it's [EOL](https://nodejs.org/en/about/releases).

[2021-05-18 09:00] tirithen commented on #215
The tests are ran with `vue-cli-service test:unit --coverage`. I'm not sure that I understand the difference in "Vue Test Utils" and "vue testing library", hopefully the usage of `vue-cli-service` gives some hints.

If the testing tools would try to lookup the existence of the Web Component before logging with `Boolean(customElements.get('sp-textfield'))` (https://developer.mozilla.org/en-US/docs/

[2021-05-21 10:47] lamartire opened #233 "[Question] How to fire custom events and event from child components?"
For example, we have two components:

[code]

[code]

Component `A` emits `custom-event` which should be handled in the `B` component.

How I should fire it correctly?

I found very similar workaround to official `@vue/text-utils` [recommendation](https://vue-test-utils.vuejs.org/api/wrapper/trigger.html#trigger) – to use `$emit`. It looks like:

[code]

May be we should describe this moment in do

[2021-05-25 08:58] luukdv commented on #195
This seems to work initially, but not on a subsequent route update.

The following succeeds as expected (with `Home` rendering `<h1>Title</h1>`):

[code]

When you fire a click event on a button that updates a route query param (for example `router.push({ query: { a: 'b' } })`):

it('', async () => {
  render(Home, { global: { plugins: [router] }});
  await router.isReady();
  expect(screen.getByT

[2021-05-26 07:47] afontcu commented on #233
Hi! You should definitely use `fireEvent` instead of stepping into Vue internals to emit a custom event – this makes your test rely on implementation details, and this is what we're trying to avoid here with Vue Testing Library. The MutationObserver error looks related to jest/jsdom version: https://github.com/testing-library/dom-testing-library/issues/477

[2021-05-26 07:57] lamartire commented on #233
I see, will try it. Thank you!

[2021-05-26 07:57] #233 closed

[2021-05-26 07:58] afontcu commented on #215
If you're using vue-cli-service and haven't installed Vue Testing Library (this repo) manually, then you're only using the official Vue Test Utils package (the official testing tools for Vue: https://github.com/vuejs/vue-test-utils-next/). If that's the case, I'd open an issue there, and see what we can come up with :)

[2021-06-23 17:10] blimmer commented on #210
@maxarndt - I opened up #238 as a proposed solution to fix this issue. I also tested it against your fork and confirmed that this fix resolves the problem you surfaced.

Alternatively, as a quicker solution, you can set up a global `beforeEach` (via [`setupFilesAfterEnv`](https://jestjs.io/docs/configuration#setupfilesafterenv-array)) that resets the hash route before each test. e.g.,

[code]

[co

[2021-06-29 18:25] #210 closed

[2021-06-29 18:47] blimmer commented on #210
@maxarndt - I ran into something weird today with the workaround I posted above. It appears that Vue Router adds a `popstate` listener to the global JSDOM window in `hash` mode. These `popstate` listeners are not cleaned up between tests, which caused additional "leaking" behaviors between tests.

Because of this, I recommend passing an instantiated router that uses `abstract` mode instead of rese

[2021-06-29 20:32] blimmer opened #240 "Type errors with TypeScript 3.9.7"
**Describe the bug** `tsc` compile fails with Typescript v3.9.7

**To Reproduce** Steps to reproduce the behavior:

See https://github.com/blimmer/vue-testing-library-issue / https://github.com/blimmer/vue-testing-library-issue/runs/2946243182?check_suite_focus=true

**Expected behavior**

The Typescript compile should pass with TypeScript v3.

**Screenshots**

![Screen Shot 2021-06-29 at 2 31 48

[2021-06-30 08:38] maxarndt commented on #210
@blimmer thank you for your hard work on this!

I tried to use an instantiated router that uses `abstract` mode for my tests and stumbled across https://github.com/vuejs/vue-router/issues/729.

So I ended up using a custom `render` function to ensure my app behaves as using `history` or `hash` router mode.

[code]

Do you think it's worth mentioning in the FAQ section that `abstract` mode comes wi

[2021-06-30 15:22] blimmer commented on #210
No problem! I agree that the initial `push` is useful for the FAQ. I opened https://github.com/testing-library/testing-library-docs/pull/881 for that improvement. Additionally - I tagged you in that PR with a contribution opportunity if you have the time!

[2021-07-06 01:13] nickmccurdy commented on #240
See #189

[2021-07-06 15:25] #240 closed

[2021-07-13 04:08] nickmccurdy commented on #176
Are there any plans to support Vue 2 with Jest 27? This would be helpful for [Vue Testing Library](https://github.com/testing-library/vue-testing-library) because its default branch is still targetting Vue 2, but we want to support Jest 27 in as many packages as possible.

[2021-07-14 20:56] kauanschaeffer commented on #187
Having similtar issue, with vue-router only (the project doesnt have a dependency o vue-router):

[code]

This happens on build and does not seems to be related to any test.

 ERROR  Build failed with errors.

[2021-07-14 21:08] kauanschaeffer commented on #187
I just added vue-router as a development dependency and the build went fine.
This is a workaround, but It's not a good one.. We might need a fix to the root cause.

[2021-07-15 07:11] afontcu commented on #187
Looks like it is due to VTL types making use of TS definitions from both Router and Vuex. Not sure how to fix this one – maybe simply copy&pasting these types from both libraries into VTL, so that the dependency can go?

https://github.com/testing-library/vue-testing-library/blob/master/types/index.d.ts#L3-L6

[2021-07-23 21:22] sand4rt commented on #230
Related to: https://github.com/vuejs/vue-test-utils-next/issues/108

[2021-07-26 19:10] afontcu commented on #231
Even though this is a breaking change, and given the fact that `6.x` version range is reserved to support to Vue 3 (see https://github.com/testing-library/vue-testing-library/issues/176), I think we should merge this one as a `chore: ` so no version is issued, or maybe as a `fix: ` so people can get a new version and handle any potential breaking change due to using node 10 (unlikely, I guess).

T

[2021-07-26 19:12] afontcu commented on #228
Will this handle all Component signatures? If I recall correctly, we had a hard time doing this in the official Vue Test Utils for Vue 3 – Check this out: https://github.com/vuejs/vue-test-utils-next/blob/master/src/mount.ts

[2021-07-26 19:12] #218 closed

[2021-07-26 19:12] #215 closed

[2021-07-26 19:16] afontcu commented on #187
Took a look, and types we're getting from Vuex and Vue Router are quite complex and verbose. We'd be copy&pasting a huge chunk of Router/Vuex types… not entirely sure this is benefitial over installing two deps (that could be defined as `devDep`).

thoughts?

[2021-07-26 22:00] MichaelDeBoey commented on #231
I would merge it together with Vue 3 support

[2021-07-26 23:50] K-Schaeffer commented on #187
I'm not sure If all types are needed, we might add a few to stop the error and that's It.

But I'm not sure, as far as I see VTL shouldn't rely on those types in any way.

[2021-07-27 06:39] afontcu commented on #231
Yeah, why not! I'll go ahead and change the base branch from the PR now

[2021-07-28 12:35] adragich opened #245 "'[vuex] must call Vue.use(Vuex) before creating a store instance' when changing tests order in src/tests/vuex.js"
Vue-testing-library Vuex unit test (src/__tests__/vuex.js) fails if you change tests order or remove ones with `renderVuexTestComponent` function. It's not a bug of library, but you should refactor your tests as you share these examples in official docs.

**To Reproduce** Steps to reproduce the behavior:

Run test. Move 'can render with an instantiated Vuex store' test to top or remove test cases

[2021-07-30 13:19] afontcu commented on #187
Wouldn't that generate several warnings on loose types if we change the complex ones to `any`, for instance? `no-unsafe-assignment` or `no-unsafe-call` being some of them.

Would you define `store` and `routes` as `any` (or anything similar) and call it a day?

[2021-07-30 14:01] afontcu commented on #187
Is there a best way? I really don't want to copy and maintain a ton of Router/Vuex types, and loosen them up doesn't feel right, either: https://github.com/testing-library/vue-testing-library/pull/246

[2021-08-01 16:38] afontcu commented on #245
Hi! Thank you for the detailed report.

Supporting instantiated Vuex stores was introduced last month in https://github.com/testing-library/vue-testing-library/pull/232. Maybe @blimmer can shed some light on how they are avoiding this error. I have never used this option so I haven't encountered it myself.

[2021-08-01 17:10] afontcu commented on #231
fixed in https://github.com/testing-library/vue-testing-library/pull/243

[2021-08-01 17:10] #231 closed

[2021-08-01 17:14] #187 closed

[2021-08-01 19:22] blimmer commented on #245
Hey @adragich and @afontcu!

@adragich is correct that, if you're creating an instantiated store, you'll need to call `Vue.use(Vuex)` somewhere in your code. For my purposes, using `jest`, I do this once on the global Vue instance in a [`setupFilesAfterEnv`](https://jestjs.io/docs/configuration#setupfilesafterenv-array) script.

To make this a bit clearer in the tests, I created #247 which explici

[2021-08-01 20:05] afontcu commented on #245
Fixed in #247. Thank you both!

[2021-08-01 20:05] #245 closed

[2021-08-08 12:13] sand4rt commented on #228
Probably not if i look at the VTU implementation. I guess this ticket can be closed.

[2021-08-08 12:18] #228 closed

[2021-08-10 19:00] Atomic71 commented on #153
I've just run into this annoyance myself, but what @unikitty37 is suggesting is not working for me.
In my situation, what fixes it is the following:

`getters:{ getter: () => originalGetter } `

After listening to the error, and making an already existing getter a function, it works flawlessly. However, this is completely different from what I have running in production. :/
`getters: { getter: ori

[2021-08-16 13:28] sand4rt commented on #230
Unfortunately, as far as i know, there is currently no way to test an asynchronous component with the vue testing library.

Has anyone gotten this to work yet?

[2021-08-18 10:10] afontcu commented on #230
Hi!

this is most likely an upstream issue in vue-test-utils-next (as seen in the issue you linked a few days ago)

[2021-09-10 06:23] yibird opened #249 "@testing library/Vue Can you provide APIs for obtaining component props, data and slots?"
Hello, library maintainer, I just used this library. Maybe it's my personal problem (I'm a novice). Compared with the library @ Vue / test utils, @ testing library / Vue is more confusing. For example, the following example of testing component props:

[code]
The test cases corresponding to @ testing library / Vue are as follows:

[code]

The above problem is to obtain elements through text conten

[2021-09-14 06:33] afontcu commented on #249
Hi!

Vue Testing Library is built on top of the official Vue Test Utils, and it offers a different set of queries and methods to interact with your component – queries that focus on the user that would interact with the component instead of relying on internals.

For this, this is what the test you shared above would look in Vue Testing Library:

[code]

This is by design ([docs](https://testing-l

[2021-09-14 06:33] #249 closed

[2021-09-20 09:57] natemate90 opened #252 "Docs: Provide an example of useRoute() with vue frouter 4.x to access route params"
I'm trying to mock the vue-router useRoute() function.

Test should pass as I mock useRoute inside vue-router, but instead the test fails:

[code]

**Related information:**

- `@testing-library/vue` version:
- `Vue` version: 3.2.2
- `node` version: 16.5.0
- `npm` (or `yarn`) version: 7.19.1

Relevant code or config (if any)

[code]

**Additional context**

[2021-09-25 21:49] sand4rt commented on #230
@afontcu After some debugging i found out that the wrapper on [line 27](https://github.com/sand4rt/suspense-test/blob/master/tests/unit/renderAsync.js#L27) needs to be resolved first, e.g. with a 'await flushPromises()' like on [line 32](https://github.com/sand4rt/suspense-test/blob/master/tests/unit/renderAsync.js#L32) before calling the getQueriesForElement(baseElement) on [line 51](https://gith

[2021-09-26 08:34] sand4rt commented on #252
@natemate90 you can find an example [here](https://github.com/testing-library/vue-testing-library/blob/main/src/__tests__/vue-router.js):

[2021-09-27 09:35] zynth17 opened #253 "run with vite?"
how to run with vite and vue 3?

[2021-09-27 09:45] afontcu commented on #253
Hi,

there's a `next` branch with support for Vue 3: https://github.com/testing-library/vue-testing-library/tree/next

[2021-09-27 09:45] #253 closed

[2021-09-27 17:18] afontcu commented on #230
Hi!

Thank you for taking the time to looking into this! Looks like you're right about the problem, too. Have you tried stubbing `Suspense` and make it simply render `#default`? It's far from ideal, but having an async render method is, too.

Thanks!

[2021-09-28 15:46] sand4rt commented on #230
Thanks for your reply!

Could you elaborate on what you mean by stubbing 'Suspense'? A component with an `async setup()` must be wrapped with `Suspense` right? Otherwise, the component will not resolve.

[2021-10-04 11:49] navidshad opened #254 "provide , inject feature"
HI everyone
is there any way to test provide/inject feature of vue components in vue-testing-component?

[2021-10-05 12:57] sand4rt commented on #254
Hi @navidshad, yes there is. The provide object is re-exposed from the [vue-test-utils library](https://next.vue-test-utils.vuejs.org/api/#global-provide). You can use it like the code below:

[code]

[2021-10-05 16:33] navidshad commented on #254
oh amazing, I use typescript but this parameter is not in types

[2021-10-05 19:25] sand4rt commented on #254
I also use TypeScript myself and i see that the paramater is typed. Note that `provide` is wrapped with `global`.

[2021-10-06 06:52] #254 closed

[2021-10-10 21:10] itutto commented on #198
This discussion has been silent for a while, but in case there is still some debate about the future of the `rerender` function, i'd like add my my use case as an example why consistency across frameworks would be preferred:

I'm part of a team developing a design system and the same components are developed for multiple frameworks. I've been hoping that we could reuse the same tests for the same

[2021-10-19 20:21] kinoli opened #255 "Test a call to a child component via a ref"
I have a child component that the parent is calling a method in. Just wondering if it is possible to test what is happening there.

[code]

[code]

Is there any way to trigger that via the unit test so I can ensure what it changes, does actually happen?

[2021-10-20 09:35] afontcu commented on #255
Hi! Following the design guidelines of the testing library family, you would need to interact with the component the same way a user would – that is, if that method is triggered on a click, then you would click on the right element, and so on.

If you share a complete test example maybe we could find a solution!

[2021-11-09 18:42] sevkioruc opened #256 "need to help about dynamic routing test"
Hello everyone,

I want to test that clicking item after route to detail page of the item.

Although I looked previous issues about this topic I could not solve problem.

I am using  Vue 2, Jest and vue-testing-library
and I mocked backend with https://github.com/mswjs/msw

- TodoList.spec.js
[code]

[code]
[code]
- TodoList.vue
[code]

[2021-11-19 18:02] kauanschaeffer opened #257 "TypeError: Cannot read property '_isDestroyed' of undefined"
Hello folks,

I'm having this error when [rendering a component from a Storybook story](https://github.com/storybookjs/testing-vue).
I think it might be something related to the vue constructor, since the error doesn't happen when commonly rendering this component. Also, the error doesn't happen with any other component rendered from the Storybook story, so I'm not sure why this is happening since

[2021-11-19 20:07] FlorentBuissonOReilly opened #258 "Syntax in vue-router example appears deprecated?"
**Describe the bug** A clear and concise description of what the bug is.

The [vue-router.js file](https://github.com/testing-library/vue-testing-library/blob/main/src/__tests__/vue-router.js) has the following code on line 17:
const {getByTestId} = render(App, {routes})

When I use the syntax render(xxx, {routes}) in my project, I get the following warning:
 _Providing 'store' or 'routes' options

[2021-11-22 15:13] afontcu commented on #258
Hi, and thank you for your first report! It seems that you're using Vue Testing Library for Vue 3 (which [lives in `next`](https://github.com/testing-library/vue-testing-library/tree/next)), but checking docs for Vue 2 (which lives in `main`).

Here's the router example file for Vue 3: https://github.com/testing-library/vue-testing-library/blob/next/src/__tests__/vue-router.js

hope it helps!

[2021-11-22 15:21] FlorentBuissonOReilly commented on #258
Duh! Yes, you're correct. Thanks for taking the time to let me know!

[2021-11-22 15:21] #258 closed

[2021-11-22 16:16] afontcu commented on #257
Hi! 👋  as you mentioned in [the issue on testing-vue](https://github.com/storybookjs/testing-vue/issues/5), it looks like this is an upstream issue originated there?

[2021-11-22 17:16] kauanschaeffer commented on #257
Yes, It appears to me that it is originated there.

Regarding the catch block idea, I'm not sure if the lack of it is on purpose to make the test break with an unhandled exception. What do you think of It?

[2021-11-22 17:20] afontcu commented on #257
Yeah, maybe we could improve something there… the reason to have a try/finally block is explained on this PR: https://github.com/testing-library/vue-testing-library/pull/142

if we can come up with a valid use case (in form of a current failing test) it would be great!

[2021-11-22 17:29] kauanschaeffer commented on #257
I see, I don't remember having any other test failing and as I said, this one is probably something on testing-vue so It makes my case too specific... I'll wait for someone's reply there.

[2021-12-02 21:08] sand4rt commented on #230
It's not the greatest solution but, as a workaround i'm using a modified version of the 'render' function called 'renderAsync'. You can see it [here](https://gist.github.com/sand4rt/5da4dda9b1aec636c92b83b83cc95aee).

[2021-12-03 23:54] kinoli commented on #255
So in this situation you would need access to the component instance in order to test what is happening.

// PARENT COMPONENT
<ChildComponent ref="myChild" />

// call method in child
myChild.childMethod();

// CHILD COMPONENT
export default {
	name: 'ChildComponent',
	  setup () {
		  return  {
			  childMethod = () => {
				  // there's no way to test this unless I can call it directly from the

[2021-12-08 10:25] KushibikiMashu commented on #187
I use `@testing-library/vue@^5.8.2`, but this error still occurs when I build storybook with [@storybookjs/testing-vue](https://github.com/storybookjs/testing-vue).

[code]

I installed  vuex and vue-router as devDependencies and the error was fixed.

[PR has already merged](https://github.com/testing-library/vue-testing-library/pull/246), however I'm not sure why this still happens.

[2021-12-09 14:49] afontcu commented on #255
What's the action that triggers the parent call, then? You could create a simple parent wrapper and trigger the call

[2021-12-10 10:02] afontcu commented on #255
I see – Then I guess I would test the parent component, not the child one – that is, if the child component is only triggered by parent, and parent is triggered by an API, I'd say the child component is an implementation detail that doesn't need to be tested in isolation

[2021-12-10 16:29] adam-gipril opened #259 "`render` requires projects to add `vuex` as a dependency"
## Description

This project lists [`vuex` as a dev dependency](https://github.com/testing-library/vue-testing-library/blob/a620424be19e3158b89b575b7603aa7ab5d9f9ec/package.json#L79), but then [the implementation of `render` requires `vuex`](https://github.com/testing-library/vue-testing-library/blob/a620424be19e3158b89b575b7603aa7ab5d9f9ec/src/render.js#L31). As a result, consuming projects that

[2021-12-11 08:48] afontcu commented on #259
Hi! Just gave it a go locally, and Vuex isn't required (and thus nothing fails) unless a `store` option is passed, as expected. The minute I add a `store: {}` option, then I get the error "Cannot find module 'vuex' from 'render.js'". Is it possible that your tests are setting a store?

[2021-12-20 18:16] adam-gipril commented on #259
@afontcu I don't believe any of our tests are setting a store. For additional context, the test suites with which I'm working are for a component library. All our current tests are using `@vue/test-utils` directly, and I'm not seeing any of those using a store option either.

The only suite that uses the testing library in our project is the following very simple one below. We're currently using M

[2021-12-20 18:26] afontcu commented on #259
Hi @adam-gipril! Thanks for the update. I'll take a look soon and ping you back

[2021-12-21 07:56] afontcu commented on #259
@adam-gipril could you provide a small reproduction link – with your mocha setup? I can't find a way to reproduce it in several codebases, and now I'm starting to think it has to do with the test runner somehow

[2021-12-21 16:27] adam-gipril commented on #259
@afontcu I'll get you something and ping again. Might not be today — the repo in question is private, and I'll see if I can create a similar testing setup in a small public repo.

[2022-01-05 13:04] elioschmutz opened #260 "Expose the `wrapper` instance in the `render` method"
Hey

Would be great having access to the underlying wrapper-object to get access to the `vue-test-utils` methods and properties.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-01-05 13:39] afontcu commented on #260
Hi! Thanks for opening the issue.

The question si quite similar to https://github.com/testing-library/vue-testing-library/pull/250, and the answer too :) In short: Vue Testing Library is a wrapper on top of Vue Test Utils that hides methods that do not align to the principles of the testing library family. 99% of what you might need to test in a component is available in Vue Testing Library, and

[2022-01-05 13:39] #260 closed

[2022-01-05 13:40] afontcu commented on #259
Hi @adam-gipril – and happy new year! Could you check if this had something to do with the test runner?

[2022-01-05 18:42] kinoli commented on #176
I'm getting an error that prevents my tests from working properly. Wondering if anyone knows why this might be happening.
[code]

[2022-01-05 18:58] afontcu commented on #176
@kinoli hi! could you please open up an issue with a small reproduction of your setup?

It is explained on vue-jest's readme: https://github.com/vuejs/vue-jest#installation

[2022-01-05 22:05] Doeke commented on #176
I had the same issue as kinoli and had to downgrade Vue test utils in order to fix it.

[2022-01-05 22:07] afontcu commented on #176
@Doeke thanks for the report! could you please open up an issue either here or at https://github.com/vuejs/vue-test-utils-next/? This seems like an upstream issue, and having any kind of context (what didn't work, what downgrade made it work) is really helpful 🙏

thanks!

[2022-01-05 22:12] kinoli commented on #176
Do you know what is involved in registering i18n if you are using i18n in components?

This gets me part of the way there however it gives me warnings for not being able to find keys wherever I use t() within the script tags in my components. I'm probably missing some step but can't figure out what.

[code]

[2022-01-05 22:15] Doeke commented on #176
I noticed the issue started when Vue test utils updated from 2.0.0rc-16 to rc18 when the issue started so I added rc 16 to my package json to make it use that version and I believe that fixed it for me

[2022-01-07 07:34] #255 closed

[2022-01-07 07:49] afontcu commented on #256
Hi!

You're rendering `TodoList`, not the whole app (with `<router-view>` and so on). If you want to test a whole router interaction, please check out https://github.com/testing-library/vue-testing-library/blob/main/src/__tests__/vue-router.js#L15 as example. Notice that `App.vue` is the root component of the app, not one of its routes.

Hope it helps!

[2022-01-07 07:49] #256 closed

[2022-01-07 07:58] sevkioruc commented on #256
Hi!

I understood better more then before and will review this example.
Thank you so much for your answer.

[2022-01-21 00:48] hikariNTU opened #261 "Vue 3.2 Extra peerDependencies vue-sfc-compiler required"
**Describe the bug**:
Starting from vue@3.2.13, `@vue/compiler-sfc` is [built-in dependency in Vue](https://www.npmjs.com/package/@vue/compiler-sfc).
But removing it from dependencies list will cause package manager to warn about unmet dependency.

**To Reproduce**:
Install vue@next, then install testing library vue, sfc-complier is inside the dependency list if using npm 7+

**Expected behavior**

[2022-01-27 12:19] linkurzweg opened #262 "Vue Testing Library: Property 'updateProps' does not exist on type 'RenderResult' / rerender not updating props"
Hello!  I am trying to test a Modal component in my Vue project. I want to test if the modal is rendered when the corresponding prop is set to true. The [documentation](https://testing-library.com/docs/vue-testing-library/api/#updatepropsprops) states that the render result from Vue Testing Library should expose a helper method called `updateProps`. But it doesn't, I get an error that it does not

[2022-01-28 15:19] #262 closed

[2022-02-03 05:29] Maxim-Mazurok opened #263 "No way to `updateProps` for child component"
**Describe the bug** A clear and concise description of what the bug is.

I'm using Vue + TSX + Vuex + Vuetify, and I've created a render helper function to minimise boilerplate and potential errors when testing my components:
[code]

As you can see, I'm rendering `VApp` component (because some Vuetify components require to be rendered in the `VApp` context, so instead of trying to guess by non-de

[2022-02-03 09:32] afontcu commented on #263
Hi! I don't think there's a way to bind `updateProps` to a child component. However, have you checked [vuetify examples](https://github.com/testing-library/vue-testing-library/blob/main/src/__tests__/vuetify.js) from this repo? Maybe wrapping everything with VApp is not mandatory, which would make `updateProps` simple to use again

[2022-02-05 20:41] briankoehler commented on #184
I'm noticing that the `next` channel is still experiencing this issue. It would probably be resolved by adding `export function cleanup(): void` to that branch's [`index.d.ts`](https://github.com/testing-library/vue-testing-library/blob/next/types/index.d.ts) as well, right?

[2022-02-06 07:06] MatanBobi commented on #184
@briankoehler that's true.. Wan't to open a PR for that or I'll fix that? :)

[2022-02-07 01:49] Maxim-Mazurok commented on #263
That'd be useful tho, I think

Good point.
Without using VApp, I'm getting this:
[code]
By changing our render helper function using approach from vuetify tests, I got rid of warnings:
[code]
I didn't want to do that initially because I thought that vuetify components rely on more than just `data-app="true"` from VApp. But if it's good enough for them, then it must be good enough for us, thank you

[2022-02-07 04:17] Maxim-Mazurok commented on #263
Actually, this doesn't solve our issue, because there were three components originally:
1. VApp
2. "Anonymous" component that we write our JSX in
3. The actual component being tested

We got rid to the VApp, but we can't get rid of the 2nd component. When we're testing our `WWHeader` component, the 2nd one looks like this:
[code]

[2022-02-08 01:23] nickmccurdy commented on #176
[As of today, Vue 3 is now the default Vue version.](https://blog.vuejs.org/posts/vue-3-as-the-new-default.html)

Is there anything else we need to do to unblock releasing Vue 3 support? Just the user-event async issue?

[2022-02-08 07:32] afontcu commented on #176
Hi @nickmccurdy! The current plan is:

1. To wait for Vue Test Utils to reach stable v2.0 (it is currently in RC). It is likely to happen during this week.
2. After that, release VTL's v6.x to the `main` branch, so that any `npm i -D @testing-library/vue` installs the Vue 3 version of the library. The v5 will still support Vue 2.

One of the main missing issues is handling async components (Suspen

[2022-02-08 08:54] nickmccurdy commented on #176
Sounds like a good plan! We could ship a prerelease without full async support (and users may be able to use await or waitFor as workarounds), but I'll also see if there's anything I can do to fix it in user event upstream.

[2022-02-08 14:01] paparent commented on #176
Hi!

I setup a new project with `npm i -D @testing-library/vue@next`, as the Vue guide say: https://vuejs.org/guide/scaling-up/testing.html#recipes

But it seems that the next tag in npm isn't the latest 6.4.2 vs 6.5.1. Should we now install without the `@next` now?

Thanks!

[2022-02-08 14:42] afontcu commented on #176
Hey! Yeah, you're right, looks like last release got issues in `latest` tag, not `next` – not sure why, though

![imatge](https://user-images.githubusercontent.com/9197791/153009668-ddc39834-8ff6-496d-9fdc-1988a7041dbb.png)

I'll take a look and update `next` accordingly. Meanwhile, feel free to run `npm i -D @testing-library/vue@latest` or stick with `next` until I figure this out :)

[2022-02-08 14:49] luukdv commented on #176
I think it's because of the following: https://blog.vuejs.org/posts/vue-3-as-the-new-default.html

[2022-02-22 10:43] lbsn opened #265 "Installing on Nuxt / Vue2 project following the docs fails due to wrong test-utils version"
**Describe the bug**

I'm using vue-testing-library with Nuxt and Vue2. Based on the [docs](https://testing-library.com/docs/vue-testing-library/intro#quickstart) installation should be done using the command:

`npm install --save-dev @testing-library/vue`

That will install the latest version of `@testing-library/vue` (currently 6.5.1) which under the hood is using version 2.0.0-rc.18 of `@vue/te

[2022-02-23 13:52] rordi commented on #265
I just run into the same problem, but you can install from the v5 version, i.e. ```"@testing-library/vue": "^5.8.0"```.

As per the release tags in this repo it seems the latest v6 track is for Vue 3 while the v5 track is for Vue 2.

[2022-02-24 15:53] machadodev commented on #265
I was having the same problem here. Thank you for clarifying. v5.8.2 worked for me.

[2022-03-11 02:50] wobsoriano commented on #176
Any chance we can access the `vm` like in `@vue/test-utils`? Planning to do something like

[code]

[2022-03-18 15:19] falco467 commented on #176
I cannot get reactivity to work with a Vue3 setup() Method, only with the (Vue2-Style) data option. Since I did not find any documentation about this, I took quite a while to pin the error down.

Is it expected to support reactivity with the setup syntax? Currently it seems the components are not updating/rerendering at all on value change.

Minimal testcase:
[code]

[2022-03-19 08:07] afontcu commented on #176
Hi! No, as per definition of Testing Lib, this won't happen (it is one of the main reasons Testing Library exist on top of Vue Test Utils! 😄). If you really need to access `vm` for any reason, I suggest using Vue Test Utils directly. That being said, your example attempts to "unit test" a hook, so you could just unit test it without even rendering a component.

It should def work. Could you please

[2022-03-22 02:26] Maxim-Mazurok opened #266 "Can't pass Store type in RenderOptions interface and render function"
**Describe the bug** A clear and concise description of what the bug is.

Currently, when using this package, it always assumes that the store is of type `any`. And in `5.6.2` that we're using it's hardcoded to be `{}` by default with no option to override:

This is from 5.6.2:
[code]

And in the most recent types, it's just `type Store = any` and then `store?: Store`, so no way to override.

**To

[2022-04-13 18:56] DGollings opened #267 "Fixed - 'Name:' field always blank for getByRole"
I'm, like most people, new to Vite/Vitest and personally new to testing using the DOM

if you read the manual it states here how to configure your environment
https://vitest.dev/guide/features.html#mocking
in particular this line `environment: 'happy-dom', // or 'jsdom', 'node'`
it states, albeit implicitly, that happy-dom is the default for Vitest

I've spent the past week working around (and won

[2022-04-13 19:53] afontcu commented on #267
Hi! Haven't had the chance to try out the vite+vitest+happy-dom+VTL combination, but I don't think there should be an issue using `getByRole` 🤔 could you please share a small reproduction example so I can dig in a bit?

thanks!

[2022-04-13 19:54] afontcu commented on #266
hey! that makes quite sense. Fancy to open up a PR with the fix?

[2022-04-13 19:55] afontcu commented on #265
Docs updated. thanks everyone.

[2022-04-13 19:55] #265 closed

[2022-04-14 02:36] Maxim-Mazurok commented on #266
I believe that my colleague @esyw has one on the way :)

[2022-04-14 11:41] DGollings commented on #267
Hmm, that's not good (for me)

https://github.com/DGollings/happy-dom-vitest-example

It works :), so question would be, why doesn't it.

My real project is of course much more complex, an easy start is to compare dependency versions in package.json. Where else would you suggest I look?

[2022-04-15 11:25] DGollings commented on #267
Updated all my real dependencies to match the versions in happy-dom-vitest

  "dependencies": {
\-    "happy-dom": "^2.46.0",
\+    "happy-dom": "^**2.55.0**",
   },
   "devDependencies": {
\+    "@testing-library/dom": ">=**7.21.4**",
\-    "@testing-library/vue": "^6.4.2",
\+    "@testing-library/vue": "^**6.5.1**",
\-    "typescript": "^4.4.4",
\+    "typescript": "^**4.5.4**",
\-    "vite": "2

[2022-04-15 11:25] #267 closed

[2022-04-28 09:05] DannyFeliz commented on #262
For those looking for how to upgrade props, `updateProps` is now called `rerender` in Vue 3 to align with other Testing Lib libraries.

[2022-05-07 08:46] vfportero opened #269 "render function has only two parameters: configurationCb is missing 😱"
**Describe the bug** A clear and concise description of what the bug is.

I'm following the vue i18n example (https://github.com/testing-library/vue-testing-library/blob/main/src/__tests__/translations-vue-i18n.js) but the exported render function doesn't have the callback parameter to setup the vue i18n plugin.

As seen in the `index.d.ts`, the method function has only two parameters but the docu

[2022-05-09 07:28] afontcu commented on #269
Hi!

you're using Vue 3, but following the example for Vue 2. Code for Vue 3 lives in `next` branch, so this is the appropriate vue-i18n example:  https://github.com/testing-library/vue-testing-library/blob/next/src/__tests__/vue-i18n.

[2022-05-09 07:28] #269 closed

[2022-05-09 07:35] #266 closed

[2022-05-09 08:07] vfportero commented on #269
Ok, thanks @afontcu, i will try that way.

(the given url is missing the extension part. This is the correct one: https://github.com/testing-library/vue-testing-library/blob/next/src/__tests__/vue-i18n.js)

[2022-06-07 13:55] ahnpnl commented on #176
Hi, when will `@testing-library/vue` support for Vue 3 switch to `latest` tag?

[2022-06-07 20:54] ahnpnl commented on #261
hi @afontcu, `@vue/test-utils` has a release **2.0.0** on `latest` tag now, can we update this repo to use it instead of `rc` version?

[2022-06-08 07:52] afontcu commented on #261
Hi @ahnpnl! Just released VTL for Vue 3 on `latest`: https://www.npmjs.com/package/@testing-library/vue/v/6.6.0

[2022-06-08 07:58] ahnpnl commented on #261
Thanks @afontcu , but I think there is still a mistake with this https://github.com/testing-library/vue-testing-library/blob/main/package.json#L48 it should be **^2.0.0**

[2022-06-08 08:02] afontcu commented on #261
`"^2.0.0-rc.18"` should also accept installing 2.0.0:
![image](https://user-images.githubusercontent.com/9197791/172564332-fb08846f-34e2-4ecb-901d-40ae8d2e7596.png)

that being said, I'll happily take a PR updating the specified version to 2.0.0 😃

[2022-06-08 10:32] ECJ222 opened #271 "Value emitted inside a component from an asynchronous function is undefined."
When trying to listen to events emitted inside a component from an asynchronous function, for some reason the `emitted()` query doesn't see those kind of events, Check the example below, I also added a screenshot.

- @testing-library/vue version:  5.8.2
- Vue version: 2.6.14
- node version: 16.14.2
- npm version: 8.5.0

Relevant code or config (if any)

Test:

[code]

Component:

[code]

Expected:

[2022-06-08 11:07] afontcu commented on #271
Hi,

could you share a small reproduction repo/codesandbox or similar with a full component? This should definitely work but it is hard to tell without actually seeing the whole data flow.

btw, could you give `waitFor` a quick go? Something like: `await waitFor(() => expect(emitted()['captured-image']).toHaveLength(1))`

[2022-06-12 12:22] ECJ222 commented on #271
Yes, @afontcu, that worked looks like all I needed to do was wait for the promise to be resolved before the events could be emitted.

Thank you!

[2022-06-12 12:22] #271 closed

[2022-07-04 00:02] edumudu opened #272 "`@vue/compiler-sfc` peer dependency warning"
**Describe the bug**
When installing `@testing-library/vue` in a project with `vue@3.2.13+` and no `@vue/compiler-sfc` a warning of missing `@vue/compiler-sfc` peer dependencies is shown

**To Reproduce** Steps to reproduce the behavior:
- Install the `@testing-library/vue` in a project with `vue@3.2.13+` and no `@vue/compiler-sfc`

You can view the warning in the terminal on [Codesandbox](https:/

[2022-07-06 10:00] sunecosuri opened #274 "Is there a reason why the return type of render is not HTMLElement?"
The following lines.
https://github.com/testing-library/vue-testing-library/blob/main/types/index.d.ts#L21-L22

I thought it would be more convenient to same as arguments like  `findBy~~~` in query the  HTMLElement type.
https://github.com/testing-library/dom-testing-library/blob/main/types/queries.d.ts#L63

Is there any reason?

[2022-07-06 17:31] afontcu commented on #274
Hi! The main reason is that `HTMLElement` does not include SVG elements: https://github.com/testing-library/react-testing-library/pull/833

thank you for the question!

[2022-07-06 17:31] #274 closed

[2022-07-07 15:17] Weetbix opened #275 "Reactivity issues with @vue/compat"
Hi! 👋

Reactivity does not seem to work when using the vue compat build.

For example these tests will work with `vue` 3, but not with `@vue/compat`:

[code]

In compat mode it will show:
[code]

**To Reproduce** Steps to reproduce the behavior:

Use this minimal reproduction repo: https://github.com/Weetbix/vue-compat-composition-api-bug-repo

**Expected behavior**

The tests should pass, and the

[2022-07-11 06:44] afontcu commented on #275
Hi!

If I read that correctly (correct me otherwise!), does it mean that ignoring Vue Testing Library and using Vue Test Utils directly does also yield these reactivity problems? If that's the case, then this is an upstream issue in Vue Test Utils and should be reported there.

thx!

[2022-07-11 07:53] lisilinhart commented on #275
@afontcu Yeah, I think it might be an issue of the **@vue/test-utils** itself, which is used here as the main dependency. I will try to open a test case there. Just for you to be aware that it's influencing any larger codebase going from v2 -> v3 using this library

[2022-07-11 08:51] Weetbix commented on #275
Thansk @lisilinhart and @afontcu :) I didn't think to check if it was originating from `@vue/test-utils`

[2022-07-28 09:38] crackalak opened #277 "Form button click not submitting form"
**Describe the bug**

Clicking a form button is not causing the form to submit

**To Reproduce**

[Stackblitz](https://stackblitz.com/edit/vitejs-vite-a2efh3?file=src%2Fcomponents%2FHelloWorld.test.ts,src%2Fcomponents%2FHelloWorld.vue,package.json&terminal=dev)

Run `npm run test`

× increments the count by click
✓ increments the count by submit

**Expected behavior**

Both tests pass

[2022-07-29 08:52] crackalak commented on #277
This is actually an issue with `happy-dom`: https://github.com/capricorn86/happy-dom/issues/527

[2022-07-29 08:52] #277 closed

[2022-08-04 11:11] jonsalvas opened #279 "Bug: is config.global.components ignored by testing-lib?"
**Describe the bug** A clear and concise description of what the bug is.
According to the vue-test-utils documentation it is possible to register global stuff using `config.global.*`, so for instance with config.global.components = { HelloWorldComponent } you can make that component globally available. This works fine when using mount() but fails when using render(). Error message is such as:

[co

[2022-08-14 18:10] davidnixon opened #280 "updateProps dos not exist"
**Describe the bug** A clear and concise description of what the bug is.

https://testing-library.com/docs/vue-testing-library/api#updatepropsprops
Does not exist

**To Reproduce** Steps to reproduce the behavior:

[code]

**Expected behavior** A clear and concise description of what you expected to
happen.

`updateProps` is not defined but `rerender` is defined and works as expected according to

[2022-08-16 07:20] afontcu commented on #280
Hi and thanks for reporting the issue!

As you mention, the actual method in v6 (for Vue 3) is `rerender`, aligned with other testing library methods ([source](https://github.com/testing-library/vue-testing-library/blob/main/src/render.js#L49)).

Agree – docs are still talking about the v5 version of vue testing library, which works for Vue 2 (for instance they talk about [the callback configurati

[2022-08-16 20:04] davidnixon commented on #280
@afontcu https://github.com/testing-library/testing-library-docs/pull/1141

[2022-08-18 03:40] vercel-mamiteamcom commented on #92
any update for this? 😬

[2022-08-25 18:30] drewlyton commented on #279
Thanks for posting! I'm having the same issue - would love to see a fix to this. It seems that `@testing-library/vue` just ignores the following `setupFile` when using Vitest:

[code]

Same setup works fine when using `mount` and `@vue/test-utils`.

[2022-08-26 15:56] #280 closed

[2022-08-29 19:01] igbominadeveloper commented on #208
I am currently dealing with this issue.

[2022-08-29 19:02] igbominadeveloper commented on #208
[code]

[2022-08-29 19:04] igbominadeveloper commented on #208
The test is failing

[2022-08-30 06:11] afontcu commented on #208
Hi,

this is expected (albeit counterintuitive): https://github.com/testing-library/dom-testing-library/pull/217

[2022-08-31 13:14] zhanglolo commented on #272
`vue@2.7.0+` also include `@vue/compiler-sfc`.

[2022-09-01 16:56] uncleramsay commented on #167
Is it possible to get this fix backpatched to version 5? I'm not able to upgrade to Vue 3 yet, but am using `defineComponent` with Vue2.7 and running into this same issue. Thanks!

[2022-09-08 19:45] MarkTallentire opened #281 "Third Party Select Boxes Not Working."
**Describe the bug** A clear and concise description of what the bug is.

Cannot get validation warnings to trigger when using third party library (Quasar)'s dropdown boxes.

**To Reproduce** Steps to reproduce the behavior:

In the DOM I can click a dropdown and then click off it without selecting anything it will raise the validation error.

![validation error](https://user-images.githubusercont

[2022-09-09 07:23] afontcu commented on #281
Hi,

It would be hard for anyone to help you without additional context – what version of Vue/VTL are you using? What does a minimal expression of the component and the test look like? These are critical bits of information to provide any guidance.

btw, `screen.findByText` is async, so you should `await`. I'm not sure this would help with your issue (mostly due to what I outlined above) but it is

[2022-09-09 09:52] MarkTallentire commented on #281
Hi,

Thanks for coming back to me. I have created a small repo that shows off the issue here https://github.com/MarkTallentire/selecttest

If you have a few minutes spare I would love if you could take a look and see if there's a solution. All the code is in ExampleComponent.vue and ExampleComponent.test.vue

Thanks,
Mark!

[2022-09-12 17:49] maartenvanhunsel opened #282 "Form missing emitted data when submit"
Hi all,

I've also opened an issue in the Formkit repository but I still think it's a vue-testing-library related issue.

**Describe the bug**
When logging `emailField` and `passwordField` I'm getting the values I've added using fireEvent.update.
However when we submit the form @submit is missing the internal formData when using @submit.

**To Reproduce** Steps to reproduce the behavior:
https://s

[2022-09-18 18:46] Ragura commented on #230
Any updates on this? We have embraced Suspense and async components very heavily in our project and this is really holding us back in writing tests. I've noticed it's the last part of making this library fully Vue 3 compatible.

[2022-10-11 15:24] romanlamsal opened #286 "Vuex store'"
**Describe the bug**

When passing a store directly into `render` as option, all mutations are lost on Vue2 components.

[code]
When inspecting the `$store` instance in inside the component, you'll find `$store._mutations = {}`.

A fix is to pass the store not directly but as mock:

[code]

Oddly enough, `mapState` works in either case - so reading the state works either way.

**To Reproduce**

Se

[2022-10-14 18:12] slacktracer commented on #254
Is this somewhere in the docs? I tried to use it as Vue Test Utils docs say it is used and they say nothing about wrapping in this global property object... 🤔

[2022-11-10 10:12] mediafreakch opened #287 "Support for custom queries"
Currently it is not possible to define custom queries as outlined in the documentation here: https://testing-library.com/docs/react-testing-library/setup#add-custom-queries

Are there any plans to support this?